Repository zowe/docs-site, pull requests merged in 2019-11, with the labels that each got.

#809 Db2 slight rebrand
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-extending.md
Labels: cli

#800 Restore the description about userDir
  docs/user-guide/configure-zowe-runtime.md
Labels: docs

#810 Zwesaux section updates (#806)
  docs/user-guide/configure-zowe-runtime.md
Labels: docs

#811 fix copyright symbols in tpsrs
  docs/appendix/tpsr.md
Labels: docs

#814 Call out no need for Perl, Python and Make
  docs/user-guide/install-nodejs-zos.md
Labels: docs

#826 Add API ML release notes
  docs/getting-started/summaryofchanges.md
Labels: apiml, docs

#835 Update Zowe Explorer (VSC extension) doc
  docs/user-guide/cli-vscodeplugin.md
Labels: Zowe Explorer

#841 Update TPSR for 1.7.0
  docs/appendix/tpsr.md
Labels: docs
