Repository zowe/docs-site, pull requests merged in 2019-12, with the labels that each got.

#851 ZE Zowe doc update (add the rename feature + minor edits)
  docs/user-guide/cli-vscodeplugin.md
Labels: Zowe Explorer

#795 Added procedure for JCL customization
  docs/user-guide/install-zowe-smpe.md
Labels: SMP/E, docs

#870 Add API ML topics to TOC
  docs/.vuepress/pages.json
Labels: apiml, docs

#864 Doc for new certificate configuration
  docs/user-guide/configure-certificates.md
Labels: cupids
