Repository zowe/docs-site, pull requests merged in 2020-02, with the labels that each got.

#985 Update staging 1.9
  docs/.vuepress/config.js
  docs/.vuepress/versions.json
  docs/README.md
  docs/getting-started/summaryofchanges.md
  package-lock.json
Labels: docs

#1000 Node.js pre-req formulation change
  docs/user-guide/cli-installcli.md
Labels: cli

#1018 typo in path
  docs/user-guide/configure-certificates.md
Labels: bug

#1006 Update logo
  docs/.vuepress/public/assets/zowe-logo.png
  docs/getting-started/summaryofchanges.md
Labels: docs

#1015 Fix the broken links.
  docs/.vuepress/pages.json
  docs/contribute/guidelines-code/categories.md
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
  docs/extend/extend-apiml/onboard-overview.md
  docs/extend/extend-apiml/onboard-plain-java-enabler-external-configuration.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/extend/extend-apiml/onboard-static-definition.md
  docs/extend/extender-architecture.md
  docs/getting-started/freqaskques.md
  docs/getting-started/overview.md
  docs/user-guide/api-mediation-api-catalog.md
  docs/user-guide/api-mediation/api-mediation-api-catalog.md
  docs/user-guide/api-mediation/api-mediation-overview.md
  docs/user-guide/zowe-getting-started-tutorial.md
Labels: apiml

#1040 CLI Bill of Materials update
  docs/appendix/bill-of-materials.md
Labels: cli, docs

#1043 Cli updates 1 9
  docs/.vuepress/pages.json
  docs/README.md
  docs/appendix/bill-of-materials.md
  docs/contribute/contributing.md
  docs/extend/extend-cli/cli-developing-a-plugin.md
  docs/extend/extend-cli/cli-extending-a-plugin.md
  docs/extend/extend-cli/cli-setting-up.md
  docs/getting-started/cli-getting-started.md
  docs/getting-started/freqaskques.md
  docs/getting-started/overview.md
  docs/getting-started/summaryofchanges.md
  docs/troubleshoot/cli/mustgather-cli.md
  docs/troubleshoot/cli/troubleshoot-cli.md
  docs/user-guide/cli-cicsplugin.md
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-extending.md
  docs/user-guide/cli-ftpplugin.md
  docs/user-guide/cli-imsplugin.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/cli-installplugins.md
  docs/user-guide/cli-mqplugin.md
  docs/user-guide/cli-scsplugin.md
  docs/user-guide/cli-swreqplugins.md
  docs/user-guide/cli-uninstall.md
  docs/user-guide/cli-updatingcli.md
  docs/user-guide/cli-usingcli.md
  docs/user-guide/systemrequirements.md
  docs/user-guide/zowe-getting-started-tutorial.md
Labels: cli

#1017 1.8.1 patch for archived 1.8.x branch
  docs/getting-started/summaryofchanges.md
Labels: cli, docs

#1016 1.8.1 patch
  docs/getting-started/summaryofchanges.md
Labels: cli, docs

#1055 Zowe Explorer video part 2, doc update
  docs/getting-started/summaryofchanges.md
  docs/user-guide/cli-vscodeplugin.md
Labels: Zowe Explorer

#1060 Cli installation changes and 1.9 TPSRs
  docs/appendix/tpsr.md
  docs/getting-started/cli-getting-started.md
  docs/troubleshoot/cli/known-cli.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/cli-updatingcli.md
Labels: docs
