Repository zowe/docs-site, pull requests merged in 2020-11, with the labels that each got.

#1463 Fix syntax in SDK doc
  docs/user-guide/sdks-using.md
Labels: docs

#1476 Hold off client certificate auth documentation for this release
  docs/extend/extend-apiml/api-mediation-security.md
  docs/user-guide/api-mediation/api-gateway-configuration.md
  docs/user-guide/configure-instance-directory.md
Labels: x509

#1488 CLI Updates for v1.17.0
  docs/.vuepress/public/CLIReference_Zowe.pdf
  docs/.vuepress/public/web_help/css/bundle-docs.css
  docs/.vuepress/public/web_help/css/bundle.css
  docs/.vuepress/public/web_help/docs/all.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-vsam.html
  docs/.vuepress/public/web_help/js/bundle.js
  docs/.vuepress/public/web_help/tree-data.js
  docs/.vuepress/public/zowe_web_help.zip
  docs/getting-started/summaryofchanges.md
Labels: area: cli, docs

#1487 API ML logon
  docs/getting-started/summaryofchanges.md
  docs/user-guide/ze-profiles.md
Labels: area: zowe-explorer
