Repository zowe/docs-site, pull requests merged in 2020-04, with the labels that each got.

#1119 SCS Plug-in Requirements on Linux
  docs/getting-started/cli-getting-started.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/cli-swreqplugins.md
Labels: cli, docs

#1140 Remove active dev from versions
  README.md
  docs/.vuepress/versions.json
Labels: docs

#1159 Update the Zowe Explorer doc
  docs/user-guide/cli-vscodeplugin.md
Labels: Zowe Explorer
