Repository zowe/docs-site, pull requests merged in 2020-08, with the labels that each got.

#1215 [Tentative 1.14] How to verify fingerprint
  docs/.vuepress/pages.json
  docs/troubleshoot/troubleshooting.md
  docs/troubleshoot/verify-fingerprint.md
Labels: area: zos-install, type: enhancement

#1348 Add Zowe Explorer FAQ
  docs/getting-started/freqaskques.md
Labels: area: zowe-explorer, docs

#1356 ZE FAQ - release note
  docs/getting-started/summaryofchanges.md
Labels: area: zowe-explorer, docs

#1372 Update Zowe Explorer release notes for Zowe 1.14
  docs/getting-started/summaryofchanges.md
Labels: area: zowe-explorer, docs

#1386 CLI Web Help for v1.15.0
  docs/.vuepress/public/CLIReference_Zowe.pdf
  docs/.vuepress/public/web_help/css/bundle-docs.css
  docs/.vuepress/public/web_help/css/bundle.css
  docs/.vuepress/public/web_help/docs/all.html
  docs/.vuepress/public/web_help/docs/zowe_profiles_create_zosmf-profile.html
  docs/.vuepress/public/web_help/docs/zowe_profiles_update_zosmf-profile.html
  docs/.vuepress/public/web_help/docs/zowe_secure-credential-store.html
  docs/.vuepress/public/web_help/docs/zowe_secure-credential-store_revert.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_copy_data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-binary.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-c.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-classic.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-partitioned.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-sequential.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-vsam.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_uss-directory.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_uss-file.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_zos-file-system.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_delete_data-set-vsam.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_delete_data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_delete_migrated-data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_delete_uss-file.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_delete_zos-file-system.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_download_all-members.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_download_data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_download_uss-file.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_invoke_ams-file.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_invoke_ams-statements.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_list_all-members.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_list_data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_list_file-system.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_list_uss-files.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_migrate_data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_mount_file-system.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_recall_data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_rename_data-set-member.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_rename_data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_unmount_file-system.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_upload_dir-to-pds.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_upload_dir-to-uss.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_upload_file-to-data-set.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_upload_file-to-uss.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_upload_stdin-to-data-set.html
  docs/.vuepress/public/web_help/tree-data.js
  docs/.vuepress/public/zowe_web_help.zip
Labels: area: cli, docs
