Repository zowe/docs-site, pull requests merged in 2020-10, with the labels that each got.

#1435 Refactor note
  docs/extend/extend-apiml/api-mediation-sso.md
Labels: docs

#1456 Reapply changes from #1454 for CLI node requirement
  docs/troubleshoot/cli/mustgather-cli.md
  docs/user-guide/systemrequirements.md
Labels: area: cli, docs

#1412 Zowe Explorer Associate Profiles feature (doc upd)
  docs/images/ze/ZE-allocate-like.gif
  docs/user-guide/ze-profiles.md
  docs/user-guide/ze-usage.md
Labels: Technical Debt, area: zowe-explorer, docs

#1458 Update node.js link
  docs/user-guide/systemrequirements.md
Labels: area: cli, docs
