Repository zowe/docs-site, pull requests merged in 2020-09, with the labels that each got.

#1393 Fix the ZE FAQ anchor link
  docs/getting-started/freqaskques.md
Labels: area: zowe-explorer, docs

#1391 Fix formatting/typos
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
Labels: 20PI3, docs

#1378 Zowe Explorer Known Issues
  docs/.vuepress/pages.json
  docs/troubleshoot/ze/known-ze.md
  docs/troubleshoot/ze/troubleshoot-ze.md
  docs/troubleshoot/ze/ze-Issue.md
  docs/troubleshoot/ze/ze-issue.md
Labels: area: zowe-explorer, docs

#1401 v1.15.0 TPSRs
  docs/appendix/tpsr.md
Labels: docs

#1402 Add favicon
  docs/.vuepress/public/favicon.ico
Labels: docs

#1407 Fix favicon
  docs/.vuepress/config.js
Labels: docs

#1422 Add sso overview
  docs/.vuepress/pages.json
  docs/appendix/zowe-api-reference.md
  docs/appendix/zowe-cli-commannd-reference.md
  docs/extend/extend-apiml/api-mediation-security.md
Labels: docs

#1416 Fix the TOC and remove duplicate API info section
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
Labels: area: apiml, docs

#1430 Update Db2 plugin profile syntax
  docs/user-guide/cli-db2plugin.md
Labels: area: cli, docs

#1404 Rip/gh677/unify sso documentation
  docs/.vuepress/pages.json
  docs/extend/extend-apiml/api-mediation-security.md
  docs/extend/extend-apiml/api-mediation-sso.md
  docs/images/api-mediation/sso-diagram.jpeg
Labels: 20PI3, area: apiml, docs

#1421 Update keyring setup doc
  docs/extend/extend-apiml/api-mediation-security.md
  docs/images/common/zowe-directories-keys.png
  docs/images/common/zowe-directories.png
  docs/images/common/zowe-directories.pptx
  docs/troubleshoot/app-framework/app-troubleshoot.md
  docs/troubleshoot/troubleshoot-zos.md
  docs/troubleshoot/troubleshoot-zowe-release.md
  docs/troubleshoot/verify-fingerprint.md
  docs/user-guide/configure-certificates-keyring.md
  docs/user-guide/configure-certificates-keystore.md
  docs/user-guide/configure-certificates.md
  docs/user-guide/configure-instance-directory.md
  docs/user-guide/configure-xmem-server.md
  docs/user-guide/install-zos.md
  docs/user-guide/installandconfig.md
  docs/user-guide/mvd-configuration.md
  docs/user-guide/scripted-configure-server.md
  docs/user-guide/zowe-zos-uninstall.md
Labels: area: zos-install, type: enhancement

#1436 CLI Web Help and TPSRs
  docs/.vuepress/public/CLIReference_Zowe.pdf
  docs/.vuepress/public/web_help/docs/all.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-binary.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-c.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-classic.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-partitioned.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-sequential.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_create_data-set-vsam.html
  docs/.vuepress/public/web_help/docs/zowe_zos-files_list_all-members.html
  docs/.vuepress/public/web_help/docs/zowe_zos-ftp_list_spool-files-by-jobid.html
  docs/.vuepress/public/web_help/docs/zowe_zos-ftp_view_job-status-by-jobid.html
  docs/.vuepress/public/web_help/docs/zowe_zos-ftp_view_spool-file-by-id.html
  docs/.vuepress/public/zowe_web_help.zip
  docs/appendix/tpsr.md
Labels: docs
