Repository zowe/docs-site, pull requests merged in 2020-01, with the labels that each got.

#888 Fix links in staging
  docs/extend/extend-apiml/api-mediation-onboard-an-existing-java-rest-api-service_plain-java-enabler.md
  docs/extend/extend-desktop/mvd-buildingplugins.md
Labels: docs

#893 Update LTS Web Help
  docs/.vuepress/public/CLIReference_Zowe.pdf
  docs/.vuepress/public/web_help/tree-data.js
  docs/.vuepress/public/zowe_web_help.zip
Labels: cli, docs

#922 Prompt feature for active-dev
  docs/user-guide/cli-usingcli.md
Labels: cli, docs

#927 1.8.x Release Notes - Lts-incremental CLI
  README.md
  docs/.vuepress/public/CLIReference_Zowe.pdf
  docs/.vuepress/public/web_help/tree-data.js
  docs/.vuepress/public/zowe_web_help.zip
  docs/getting-started/summaryofchanges.md
Labels: cli, docs

#945 Add the Zowe Explorer vid and RNs update
  docs/extend/extend-apiml/api-mediation-onboard-a-spring-boot-rest-api-service.md
  docs/extend/extend-apiml/api-mediation-onboard-an-existing-java-jersey-rest-api-service.md
  docs/extend/extend-apiml/api-mediation-onboard-an-existing-java-rest-api-service-without-spring-boot-with-zowe-api-mediation-layer.md
  docs/getting-started/summaryofchanges.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/cli-vscodeplugin.md
Labels: Zowe Explorer
