Repository zowe/docs-site, pull requests merged in 2020-06, with the labels that each got.

#1261 Fix the gif's misalignment
  docs/getting-started/summaryofchanges.md
  docs/user-guide/ze-install.md
  docs/user-guide/ze-profiles.md
  docs/user-guide/ze-usage.md
Labels: Zowe Explorer, docs

#1277 Update the RNs with the z/OSMF Workflows information (Zowe Installation section)
  docs/getting-started/summaryofchanges.md
Labels: docs

#1279 Apiml changes for 1.12
  docs/extend/extend-apiml/api-mediation-routing.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/getting-started/summaryofchanges.md
  docs/images/api-mediation/Basic-Routing.png
Labels: apiml, docs

#1248 CLI base profiles, APIML login, SSO
  docs/getting-started/cli-getting-started.md
  docs/getting-started/freqaskques.md
  docs/getting-started/overview.md
  docs/getting-started/summaryofchanges.md
  docs/troubleshoot/troubleshooting.md
  docs/user-guide/cli-configuringcli.md
  docs/user-guide/cli-ftpplugin.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/cli-scsplugin.md
  docs/user-guide/cli-uninstall.md
  docs/user-guide/cli-usingcli.md
  docs/user-guide/install-zowe-zos-convenience-build.md
  docs/user-guide/mvd-configuration.md
Labels: cli
