Repository zowe/docs-site, pull requests merged in 2021-11, with the labels that each got.

#1598 Use API ID consistent with conformance criteria
  docs/extend/extend-apiml/onboard-static-definition.md
Labels: status: review, area: apiml

#1879 k8s doc improvements
  docs/extend/k8s-extend.md
  docs/troubleshoot/k8s-troubleshoot.md
  docs/user-guide/k8s-config.md
  docs/user-guide/k8s-downloading.md
  docs/user-guide/k8s-introduction.md
  docs/user-guide/k8s-prereqs.md
  docs/user-guide/k8s-using.md
Labels: area: zos-install-upgrade

#1888 Add release demo and blog links
  docs/getting-started/release-notes/v1_24.md
  docs/getting-started/release-notes/v1_25.md
Labels: area: misc

#1882 Update cli-using-daemon-mode.md
  docs/user-guide/cli-using-daemon-mode.md
Labels: area: cli

#1890 Remove duplicate section/general language refactor
  docs/getting-started/zowe-architecture.md
Labels: type: enhancement, area: misc

#1891 User/joewinchester/keyringsupported
  docs/troubleshoot/app-framework/app-troubleshoot.md
  docs/user-guide/configure-certificates.md
  docs/user-guide/systemrequirements-zos.md
Labels: area: zos-install-upgrade

#1896 Add the Deprecated note (Associate Profile section)
  docs/user-guide/ze-profiles.md
Labels: area: zowe-explorer

#1904 Remove references to CA Technologies from API ML doc
  docs/extend/extend-apiml/api-mediation-passtickets.md
  docs/extend/extend-apiml/api-mediation-routing.md
  docs/extend/extend-apiml/api-mediation-security.md
  docs/extend/extend-apiml/service-information.md
Labels: docs, area: apiml

#1911 Add links to Wizard doc
  docs/extend/extend-apiml/onboard-overview.md
  docs/extend/extend-zowe-overview.md
Labels: area: apiml
