Repository zowe/docs-site, pull requests merged in 2022-08, with the labels that each got.

#2328 Fixing broken table
  docs/user-guide/systemrequirements-zos.md
Labels: type: bug

#2326 Updated to include V2 profiles
  docs/user-guide/cli-cicsplugin.md
Labels: area: cli

#2332 update plug-in to include how to create V2 profiles
  docs/user-guide/cli-cicsplugin.md
  docs/user-guide/cli-ftpplugin.md
Labels: area: cli

#2334 Update plug-in to include how to create V2 profiles
  docs/user-guide/cli-db2plugin.md
Labels: area: cli

#2335 Anax mq pluglin
  docs/user-guide/cli-mqplugin.md
Labels: area: cli

#2333 Update plug-in to include how to create V2 profiles
  docs/user-guide/cli-imsplugin.md
Labels: area: cli

#2327 Fixing dead link
  docs/user-guide/systemrequirements-zos.md
  versioned_docs/version-v1.28.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.0.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.1.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.2.x/user-guide/systemrequirements-zos.md
Labels: type: bug

#2345 (Fix) Broken images fix in the z/OS installation section
  docs/images/configure/workflow-four.jpg
  docs/images/configure/workflow-four.png
  docs/images/configure/workflow-one.jpg
  docs/images/configure/workflow-one.png
  docs/images/configure/workflow-parameters.jpg
  docs/images/configure/workflow-parameters.png
  docs/images/configure/workflow-three.jpg
  docs/images/configure/workflow-threeB.png
  docs/images/configure/workflow-two.jpg
  docs/images/configure/workflow-two.png
  docs/images/zosmf/perform-workflows.jpg
  docs/images/zosmf/perform-workflows.png
  docs/user-guide/certificates-setup.md
  docs/user-guide/configure-zowe-zosmf-workflow.md
Labels: good first issue, area: zos-install-upgrade

#2348 Added Information roadmap to ToC
  docs/user-guide/cli-install-cli-checklist.md
  docs/user-guide/user-roadmap-zowe-cli.md
  sidebars.js
Labels: area: cli

#2352 Anax 1281 changelog
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_1.md
Labels: area: cli

#2347 Update missing K in title of JCERACFKS
  docs/user-guide/configure-certificates-keyring.md
Labels: type: bug

#2312 29-50
  docs/troubleshoot/app-framework/appserver-error-codes.md
Labels: area: webui

#2308 update reason 75-100
  docs/troubleshoot/app-framework/appserver-error-codes.md
Labels: area: webui

#2353 Add redis sentinel enabled field
  docs/extend/extend-apiml/api-mediation-redis.md
Labels: area: apiml

#2359 Update cli-using-understanding-core-command-groups.md
  docs/user-guide/cli-using-understanding-core-command-groups.md
Labels: type: bug, area: cli

#2351 Add scripts to auto-update typedoc and web help
  scripts/updateTypedoc.sh
  scripts/updateWebHelp.sh
Labels: area: cli

#2361 CLI Installation Checklist updates, typo fixes
  docs/user-guide/cli-install-cli-checklist.md
  docs/user-guide/user-roadmap-zowe-cli.md
  static/stable/Zowe_CLI_Installation_Checklist.xlsx
Labels: area: cli
