Repository zowe/docs-site, pull requests merged in 2022-03, with the labels that each got.

#2047 Add zwe server command documentation
  docs/appendix/zwe_server_command_reference/zwe-certificate-keyring-jcl-clean.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-keyring-jcl-connect.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-keyring-jcl-generate.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-keyring-jcl-import-ds.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-keyring-jcl.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-pkcs12-create-ca.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-pkcs12-create-cert.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-pkcs12-create.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-pkcs12-export.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-pkcs12-import.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-pkcs12-lock.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-pkcs12-trust-service.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-pkcs12.md
  docs/appendix/zwe_server_command_reference/zwe-certificate-verify-service.md
  docs/appendix/zwe_server_command_reference/zwe-certificate.md
  docs/appendix/zwe_server_command_reference/zwe-components-install-extract.md
  docs/appendix/zwe_server_command_reference/zwe-components-install-process-hook.md
  docs/appendix/zwe_server_command_reference/zwe-components-install.md
  docs/appendix/zwe_server_command_reference/zwe-components.md
  docs/appendix/zwe_server_command_reference/zwe-init-apfauth.md
  docs/appendix/zwe_server_command_reference/zwe-init-certificate.md
  docs/appendix/zwe_server_command_reference/zwe-init-mvs.md
  docs/appendix/zwe_server_command_reference/zwe-init-security.md
  docs/appendix/zwe_server_command_reference/zwe-init-stc.md
  docs/appendix/zwe_server_command_reference/zwe-init-vsam.md
  docs/appendix/zwe_server_command_reference/zwe-init.md
  docs/appendix/zwe_server_command_reference/zwe-install.md
  docs/appendix/zwe_server_command_reference/zwe-internal-config-get.md
  docs/appendix/zwe_server_command_reference/zwe-internal-config-set.md
  docs/appendix/zwe_server_command_reference/zwe-internal-config.md
  docs/appendix/zwe_server_command_reference/zwe-internal-container-cleanup.md
  docs/appendix/zwe_server_command_reference/zwe-internal-container-init.md
  docs/appendix/zwe_server_command_reference/zwe-internal-container-prestop.md
  docs/appendix/zwe_server_command_reference/zwe-internal-container.md
  docs/appendix/zwe_server_command_reference/zwe-internal-get-launch-components.md
  docs/appendix/zwe_server_command_reference/zwe-internal-start-component.md
  docs/appendix/zwe_server_command_reference/zwe-internal-start-prepare.md
  docs/appendix/zwe_server_command_reference/zwe-internal-start.md
  docs/appendix/zwe_server_command_reference/zwe-internal.md
  docs/appendix/zwe_server_command_reference/zwe-migrate-for-kubernetes.md
  docs/appendix/zwe_server_command_reference/zwe-migrate-for.md
  docs/appendix/zwe_server_command_reference/zwe-migrate.md
  docs/appendix/zwe_server_command_reference/zwe-sample-sub-deep.md
  docs/appendix/zwe_server_command_reference/zwe-sample-sub-second.md
  docs/appendix/zwe_server_command_reference/zwe-sample-sub.md
  docs/appendix/zwe_server_command_reference/zwe-sample-test.md
  docs/appendix/zwe_server_command_reference/zwe-sample.md
  docs/appendix/zwe_server_command_reference/zwe-server-command-reference.md
  docs/appendix/zwe_server_command_reference/zwe-start.md
  docs/appendix/zwe_server_command_reference/zwe-stop.md
  docs/appendix/zwe_server_command_reference/zwe-version.md
  docs/appendix/zwe_server_command_reference/zwe.md
  sidebars.js
Labels: v2

#2026 Private/pinpan/v2 improvements
  docs/extend/extend-zowe-overview.md
Labels: v2

#2068 migrated new v1 content into v2 content on the docs home page > Downloadable files
  src/components/DownloadableFiles/DownloadableFiles.js
Labels: area: cli, v2

#2066 Jabauman us785469 daemon mode testfix
  docs/user-guide/cli-using-daemon-mode.md
Labels: area: cli

#2079 indicate clear link for CORS from Gateway to specific service
  docs/extend/extend-apiml/custom-metadata.md
  docs/user-guide/api-mediation/api-gateway-configuration.md
Labels: area: apiml

#2083 docs: Zowe V2 LTS extends support for both base authentication paths until March 2023
  docs/extend/extend-apiml/api-mediation-security.md
Labels: area: apiml
