Repository zowe/docs-site, pull requests merged in 2022-09, with the labels that each got.

#2374 master to main updates, typos
  docs/extend/extend-ze/ze-extensions.md
  docs/getting-started/zowe_faq.md
  docs/user-guide/cli-using-using-environment-variables.md
  docs/user-guide/ze-ftp.md
  docs/user-guide/ze-install.md
  sidebars.js
Labels: area: zowe-explorer

#2382 Added plugin dir env variable
  docs/user-guide/cli-configuringcli-ev.md
Labels: area: cli

#2389 new set of release notes for 2.3.0
  docs/getting-started/release-notes/v2_3_0.md
Labels: area: cli

#2401 chunk of ZE CICX Ext
  docs/user-guide/ze-cics.md
  docs/user-guide/ze-create-zowe-explorer-cics-ext-profiles.md
  docs/user-guide/ze-install-zowe-explorer-cics-ext.md
  docs/user-guide/ze-override-tls-certs.md
  docs/user-guide/ze-profiles.md
  docs/user-guide/ze-provide-feedback-contribute.md
  docs/user-guide/ze-usage-tips.md
  docs/user-guide/ze-use-cics-resources.md
  docs/user-guide/ze-using-zowe-explorer-cics-ext.md
  sidebars.js
Labels: area: zowe-explorer

#2400 Add detail to ZWEAG713E
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml
