Repository zowe/docs-site, pull requests merged in 2022-01, with the labels that each got.

#1940 update-links
  docs/extend/extend-apiml/api-mediation-security.md
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
  docs/extend/extend-apiml/onboard-micronaut-enabler.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/extend/extend-desktop/mvd-configdataservice.md
  docs/extend/extend-desktop/mvd-uribroker.md
  docs/user-guide/configure-certificates-keystore.md
  docs/user-guide/configure-zos-system.md
  docs/user-guide/install-zowe-smpe.md
Labels: type: bug

#1949 API ML memory requirements
  docs/user-guide/systemrequirements-zos.md
Labels: area: apiml

#1951 Document the API ML sample extension
  docs/extend/extend-apiml/create-apiml-extension.md
Labels: type: enhancement, area: apiml

#1950 Fix the install roadmap diagram
  docs/images/common/zowe-zos-install-diagram.png
  docs/images/common/zowe-zos-install-diagram.pptx
  docs/user-guide/install-zos.md
  package-lock.json
Labels: type: bug, area: zos-install-upgrade

#1960 added the demo for APIML metrics service
  docs/user-guide/api-mediation-metrics-service.md
  package-lock.json
Labels: type: enhancement, area: apiml

#1965 Remove PKCS#11 token mentions
  docs/user-guide/configure-certificates-keystore.md
  docs/user-guide/systemrequirements-zos.md
Labels: area: webui

#1959 Add apiml extension paths documentation
  docs/extend/extend-apiml/create-apiml-extension.md
Labels: type: enhancement, area: apiml

#1966 k8s upgrade updates
  docs/extend/k8s-extend.md
  docs/user-guide/k8s-downloading.md
Labels: area: webui

#1941 add troubleshoot tip for SWED0171W not having a loopback address issue
  docs/troubleshoot/app-framework/app-mustgather.md
  docs/troubleshoot/app-framework/app-troubleshoot.md
Labels: area: webui, type: troubleshoot

#1943 add troubleshooting tip for the slow performance of VT terminal on SSH
  docs/getting-started/user-roadmap-app-framework.md
  docs/troubleshoot/app-framework/app-troubleshoot.md
Labels: area: webui, type: troubleshoot

#1948 add troubleshooting tip for ZWED0148E
  docs/troubleshoot/app-framework/app-troubleshoot.md
Labels: area: webui, type: troubleshoot

#1825 Add documentation for how to setup pluginlib
  docs/user-guide/configure-xmem-server.md
  docs/user-guide/scripted-configure-server.md
Labels: area: zos-install-upgrade
