Repository zowe/docs-site, pull requests merged in 2023-03, with the labels that each got.

#2692 fixed broken links found in link checker
  docs/contribute/guidelines-code/documentation.md
  docs/extend/extend-cli/cli-extending-a-plugin.md
Labels: area: cli

#2696 removed deleted APIML article from sidebar
  sidebars.js
Labels: docs, area: apiml

#2698 added steps to vnext doc prep handbook
  release-handbook/release_handbook.md
Labels: docs

#2690 creating Zowe CLI hierarchy documentation
  docs/images/common/cli-config-file-table.jpg
  docs/user-guide/cli-using-understand-profiles-configs.md
  sidebars.js
Labels: area: cli

#2716 v2.7 release notes - unfinished draft
  docs/getting-started/release-notes/v2_7_0.md
Labels: docs

#2728 minor style edits to release notes
  docs/getting-started/release-notes/v2_7_0.md
Labels: docs

#2733 Adding missing punctuation in v2.7 release notes
  docs/getting-started/release-notes/v2_7_0.md
Labels: docs

#2735 Anax v2.7prep3 docs
  docs/extend/extend-desktop/mvd-server-config.md
  docs/getting-started/release-notes/v2_7_0.md
  docs/user-guide/configure-zos-system.md
  docs/user-guide/install-zowe-smpe.md
  docs/user-guide/mvd-configuration.md
  tpsr/tpsr-v2.7.x.md
Labels: docs

#2742 Anax 270 deleteoldversion 2.7doc
  versions.json
Labels: docs

#2732 updating team config documentation
  docs/getting-started/release-notes/v2_0_0.md
  docs/getting-started/zowe_faq.md
  docs/user-guide/cli-install-cli-checklist.md
  docs/user-guide/cli-using-initializing-team-configuration.md
  docs/user-guide/cli-using-sharing-team-config-files.md
  docs/user-guide/cli-using-team-configuration-application-developers.md
  docs/user-guide/cli-using-team-configuration-team-leaders.md
  docs/user-guide/cli-using-test-zosmf-connection.md
  docs/user-guide/cli-using-understand-profiles-configs.md
  docs/user-guide/cli-using-understanding-core-command-groups.md
  docs/user-guide/cli-using-using-profiles-v1.md
  docs/user-guide/cli-using-using-team-profiles.md
  docs/user-guide/install-cli-via-proxy.md
  docs/user-guide/ze-profiles.md
  sidebars.js
Labels: area: cli

#2759 updating API keys and limiting mem space
  docusaurus.config.js
  package.json
  src/components/SearchHeader/SearchHeader.js
Labels: docs

#2762 updating API key for Search functionality fix
  docusaurus.config.js
Labels: docs

#2761 removing duplicate article from sidebar
  sidebars.js
Labels: docs

#2775 Correct a load module name
  docs/user-guide/configure-xmem-server.md
Labels: 22PI3, area: install and config

#2779 added release notes for v1.28.3
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_3.md
Labels: docs

#2780 updates to release notes per Fernando feedback
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_3.md
Labels: docs

#2784 Fix a broken link
  docs/user-guide/install-zowe-smpe.md
Labels: 22PI3, area: install and config

#2783 minor edits to v2.7 release notes and Doc Squad Release handbook
  docs/contribute/guidelines-code/documentation.md
  docs/extend/extend-cli/cli-developing-a-plugin.md
  docs/extend/extend-cli/cli-extending-a-plugin.md
  docs/getting-started/release-notes/v2_7_0.md
  docs/getting-started/zowe-resources.md
  docs/user-guide/cli-using-test-zosmf-connection.md
  release-handbook/release_handbook.md
Labels: docs

#2786 adding v1.28.3 TPSRs
  tpsr/tpsr-v1.28.3.md
Labels: docs
