Repository zowe/docs-site, pull requests merged in 2023-08, with the labels that each got.

#3017 adding new env variable
  docs/user-guide/cli-configuringcli-ev.md
Labels: area: cli

#3043 Update gateway message codes
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml

#3055 testing tags1
  docs/user-guide/systemrequirements-zos.md
Labels: docs

#3063 Replace en dash with regular dash for CLI options
  docs/user-guide/cli-cicsplugin.md
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-ftpplugin.md
  docs/user-guide/cli-imsplugin.md
  docs/user-guide/cli-mqplugin.md
  versioned_docs/version-v2.4.x/user-guide/cli-cicsplugin.md
  versioned_docs/version-v2.4.x/user-guide/cli-db2plugin.md
  versioned_docs/version-v2.4.x/user-guide/cli-ftpplugin.md
  versioned_docs/version-v2.4.x/user-guide/cli-imsplugin.md
  versioned_docs/version-v2.4.x/user-guide/cli-mqplugin.md
  versioned_docs/version-v2.5.x/user-guide/cli-cicsplugin.md
  versioned_docs/version-v2.5.x/user-guide/cli-db2plugin.md
  versioned_docs/version-v2.5.x/user-guide/cli-ftpplugin.md
  versioned_docs/version-v2.5.x/user-guide/cli-imsplugin.md
  versioned_docs/version-v2.5.x/user-guide/cli-mqplugin.md
  versioned_docs/version-v2.6.x/user-guide/cli-cicsplugin.md
  versioned_docs/version-v2.6.x/user-guide/cli-db2plugin.md
  versioned_docs/version-v2.6.x/user-guide/cli-ftpplugin.md
  versioned_docs/version-v2.6.x/user-guide/cli-imsplugin.md
  versioned_docs/version-v2.6.x/user-guide/cli-mqplugin.md
  versioned_docs/version-v2.7.x/user-guide/cli-cicsplugin.md
  versioned_docs/version-v2.7.x/user-guide/cli-db2plugin.md
  versioned_docs/version-v2.7.x/user-guide/cli-ftpplugin.md
  versioned_docs/version-v2.7.x/user-guide/cli-imsplugin.md
  versioned_docs/version-v2.7.x/user-guide/cli-mqplugin.md
  versioned_docs/version-v2.8.x/user-guide/cli-cicsplugin.md
  versioned_docs/version-v2.8.x/user-guide/cli-db2plugin.md
  versioned_docs/version-v2.8.x/user-guide/cli-ftpplugin.md
  versioned_docs/version-v2.8.x/user-guide/cli-imsplugin.md
  versioned_docs/version-v2.8.x/user-guide/cli-mqplugin.md
  versioned_docs/version-v2.9.x/user-guide/cli-cicsplugin.md
  versioned_docs/version-v2.9.x/user-guide/cli-db2plugin.md
  versioned_docs/version-v2.9.x/user-guide/cli-ftpplugin.md
  versioned_docs/version-v2.9.x/user-guide/cli-imsplugin.md
  versioned_docs/version-v2.9.x/user-guide/cli-mqplugin.md
Labels: area: cli

#3064 testing a new tag
  docs/user-guide/systemrequirements-zos.md
Labels: docs

#3068 updating header for better SEO
  docs/user-guide/systemrequirements-zos.md
Labels: area: install and config

#3053 Procedure for Zowe upgrade in high availability without downtime
  docs/troubleshoot/upgrade-zowe-no-downtime.md
Labels: area: apiml

#3040 Feature/certificates questionnaire
  docs/diagrams/certificates-config-scenarios.drawio
  docs/images/install/certificates-config-scenarios.png
  docs/user-guide/certificate-configuration-scenarios.md
  docs/user-guide/certificates-configuration-questionnaire.md
  docs/user-guide/configure-certificates.md
  docs/user-guide/zos-components-installation-checklist-dev.md
  sidebars.js
Labels: area: install and config

#3077 Fix zowe security overview links
  docs/getting-started/zowe-security-overview.md
Labels: area: install and config

#3062 pushing banner test
  .github/ISSUE_TEMPLATE/---doc-site-banner-request.md
  docusaurus.config.js
  src/css/custom.css
Labels: docs

#3081 Refactor questionnaire
  docs/user-guide/certificates-configuration-questionnaire.md
Labels: area: install and config

#3048 index test
  docs/appendix/zwe_server_command_reference_overview.md
  docs/contribute/guidelines-ui/ui.md
  docs/getting-started/release-notes/release-notes-overview.md
  docs/getting-started/user-roadmap-zowe-explorer.md
  docs/getting-started/zowe_faq.md
  docs/getting-started/zowe_v2_faq.md
  docs/troubleshoot/troubleshoot-apiml.md
  docs/user-guide/cli-extending.md
  docs/user-guide/cli-install-cli-checklist.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/install-overview.md
  docs/user-guide/install-zos.md
  docs/user-guide/intellij-install.md
  docs/user-guide/mvd-using.md
  docs/user-guide/systemrequirements-cli.md
  docs/user-guide/user-roadmap-zowe-cli.md
  docs/user-guide/ze-ftp-install-ze-ftp-ext.md
  docs/user-guide/ze-install-zowe-explorer-cics-ext.md
  docs/user-guide/ze-profiles.md
  docs/user-guide/zowe-chat/chat_configure_chat_platforms.md
  docs/user-guide/zowe-chat/chat_prerequisite_mattermost.md
  docs/user-guide/zowe-chat/chat_prerequisite_slack.md
  docs/user-guide/zowe-chat/chat_prerequisite_teams.md
  docs/user-guide/zowe-chat/chat_use_interact_methods.md
  docs/user-guide/zowe-chat/introduction.md
  docs/user-guide/zowe-chat/systemrequirements-chat.md
  sidebars.js
  src/css/custom.css
Labels: docs
