Repository zowe/docs-site, pull requests merged in 2023-05, with the labels that each got.

#2840 Remove Darwin x64 architecture from cli-db2plugin.md
  docs/user-guide/cli-db2plugin.md
Labels: area: cli

#2870 Update Zowe CLI docs for unlocking the keyring automatically
  docs/user-guide/cli-configure-scs-on-headless-linux-os.md
Labels: area: cli

#2861 updating, reorganizing ZE sys reqs
  docs/getting-started/ZE-system-reqs.md
  docs/user-guide/ze-ftp-using-ze-ftp-ext.md
  docs/user-guide/ze-install-zowe-explorer-cics-ext.md
  docs/user-guide/ze-usage.md
  docs/user-guide/ze-using-zowe-explorer-cics-ext.md
  sidebars.js
Labels: area: zowe-explorer

#2857 Include keywords to make ZE error message searchable
  docs/troubleshoot/ze/troubleshoot-ze.md
Labels: area: zowe-explorer

#2892 ZE known limitation re: creds
  docs/troubleshoot/ze/ze-known-limits.md
  sidebars.js
Labels: area: zowe-explorer

#2894 minor updates based on Scott feedback
  docs/troubleshoot/cli/troubleshoot-cli-plugins.md
  docs/user-guide/ze-use-cases.md
Labels: area: cli, area: zowe-explorer
