Repository zowe/docs-site, pull requests merged in 2023-12, with the labels that each got.

#3293 Initial refactor of Authentication with client certificates
  docs/extend/extend-apiml/authentication-for-apiml-services.md
Labels: area: apiml

#3299 Zowe CLI v2.13 release notes
  docs/getting-started/release-notes/v2_13_0.md
Labels: area: cli

#3309 minor typo and grammar fixes
  docs/getting-started/release-notes/v2_13_0.md
Labels: area: apiml

#3310 fixing minor style items, typos, misplaced bullets
  docs/getting-started/release-notes/v2_13_0.md
Labels: area: docs

#3311 adding v2.13 tpsrs
  tpsr/tpsr-v2.13.x.md
Labels: area: docs

#3320 adding FAQs re: MFA for ZE and Zowe CLI
  docs/getting-started/zowe_faq.md
Labels: area: cli, area: zowe-explorer

#3322 Configure system to support client certificate authentication
  docs/extend/extend-apiml/authentication-for-apiml-services.md
Labels: area: apiml
