Repository zowe/docs-site, pull requests merged in 2023-07, with the labels that each got.

#2966 Fix diagram
  docs/images/install/config.png
  docs/images/install/install.png
Labels: type: bug

#2885 Update configure-xmem-server.md
  docs/user-guide/configure-xmem-server.md
Labels: type: enhancement

#2951 Anax v2.9 updatingreleasehandbook docs
  release-handbook/release_handbook.md
Labels: docs

#2937 first draft of finding-versions content
  docs/troubleshoot/troubleshoot-check-your-zowe-version.md
  docs/troubleshoot/troubleshoot-zowe-release.md
  sidebars.js
Labels: area: onboarding, area: cli, area: apiml, area: zowe-explorer, area: install and config

#2997 updating directory path; adding path note
  docs/troubleshoot/ze/troubleshoot-ze.md
Labels: area: zowe-explorer

#3003 CLI, ZE v2.10 release notes
  docs/getting-started/release-notes/v2_10_0.md
Labels: area: cli, area: zowe-explorer

#3009 fixing incorrect commands
  docs/user-guide/cli-using-integrating-apiml.md
Labels: area: cli, area: apiml

#2995 undoing updates to usingcli article
  docs/getting-started/zowe_faq.md
  docs/user-guide/cli-using-usingcli.md
  docs/user-guide/ze-install.md
  docs/user-guide/ze-usage.md
Labels: area: zowe-explorer

#3018 correcting prod names, updating to follow style
  docs/user-guide/cli-idfplugin.md
Labels: area: cli, area: apiml

#3022 Add API ML feature to 2.10 release notes
  docs/getting-started/release-notes/v2_10_0.md
Labels: area: apiml

#3024 Update Configure certs in Installation checklists and header fixes
  docs/user-guide/generate-certificates.md
  docs/user-guide/import-certificates.md
  docs/user-guide/zos-components-installation-checklist-dev.md
  docs/user-guide/zos-components-installation-checklist.md
Labels: area: install and config

#3025 Fix broken links for 2.10 (API ML)
  docs/troubleshoot/troubleshoot-apiml.md
  docs/user-guide/initialize-zos-system.md
Labels: area: apiml

#2994 updating style guide
  docs/contribute/contributing.md
  release-handbook/release_notes_guide.md
Labels: docs

#3028 minor edits to release notes
  docs/getting-started/release-notes/v2_10_0.md
Labels: docs

#3013 Feature/parmlib
  docs/appendix/zwe_server_command_reference/zwe/config/zwe-config-validate.md
  docs/user-guide/configmgr-using.md
Labels: area: webui

#3033 corrected CLI IF release note
  docs/getting-started/release-notes/v2_10_0.md
Labels: docs
