Repository zowe/docs-site, pull requests merged in 2023-06, with the labels that each got.

#2914 Update verify-zowe-runtime-install.md
  docs/user-guide/verify-zowe-runtime-install.md
Labels: type: enhancement, area: install and config

#2922 Zowe v2.9 TPSRs
  tpsr/tpsr-v2.9.x.md
Labels: docs

#2936 adding back PDFs for Zowe v2.6 2.7 2.7
  static/zowe-docs-v2.6.x.pdf
  static/zowe-docs-v2.7.x.pdf
  static/zowe-docs-v2.8.x.pdf
Labels: docs

#2947 fixing broken link
  docs/user-guide/cli-using-command-precedence.md
  docs/user-guide/cli-using-using-profiles-v1.md
  sidebars.js
Labels: area: cli

#2954 setting up doc for v1.28.4
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_4.md
  versioned_sidebars/version-v1.28.x-sidebars.json
Labels: docs

#2958 release notes draft for v1.28.4
  release-handbook/release_notes_guide.md
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_4.md
Labels: area: cli

#2964 remove apiml section in v1_28_4 release notes
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_4.md
Labels: area: apiml

#2973 Ana v1.28.4 publishdocs
  docs/troubleshoot/troubleshoot-apiml.md
  docs/user-guide/cli-idfplugin.md
  docs/user-guide/zowe-getting-started-tutorial.md
  release-handbook/release_notes_guide.md
  sidebars.js
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_4.md
  versioned_sidebars/version-v1.28.x-sidebars.json
Labels: docs

#2974 adding v1.28.4 tpsrs
  tpsr/tpsr-v1.28.4.md
Labels: docs
