Repository zowe/docs-site, pull requests merged in 2023-09, with the labels that each got.

#3050 Config certs internal doc review
  docs/user-guide/certificate-configuration-scenarios.md
  docs/user-guide/generate-certificates.md
  docs/user-guide/import-certificates.md
  docs/user-guide/use-certificates.md
Labels: area: install and config

#3101 tpsrs for v2.11
  tpsr/tpsr-v2.11.x.md
Labels: docs

#3103 Update PDF creator
  package-lock.json
  package.json
Labels: docs

#3104 fixing incorrect links in "stable" directory
  docs/appendix/zowe-cli-command-reference.md
  docs/user-guide/cli-cicsplugin.md
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-ftpplugin.md
  docs/user-guide/cli-imsplugin.md
  docs/user-guide/cli-mqplugin.md
  docs/user-guide/cli-using-displaying-help.md
  docs/user-guide/user-roadmap-zowe-cli.md
  docs/user-guide/zowe-chat/chat_use_interact_methods.md
Labels: docs

#3106 removing banner; banner instructions
  docusaurus.config.js
  release-handbook/creating_site_banner.md
  release-handbook/images/zowe-banner-message.png
Labels: docs

#3107 Language and formatting fixes to Certificates docs
  docs/user-guide/certificate-configuration-scenarios.md
  docs/user-guide/certificates-configuration-questionnaire.md
  docs/user-guide/configure-certificates.md
Labels: area: install and config

#3109 Fix to certificate config PR
  docs/user-guide/certificate-configuration-scenarios.md
Labels: area: install and config

#3111 removing duplicate article from sidebar
  sidebars.js
Labels: docs

#3029 Add a Zowe glossary (update of #2252)
  docs/appendix/zowe-glossary.md
  sidebars.js
Labels: docs, area: install and config

#3125 adding RN headers, TPSR placeholder file
  docusaurus.config.js
  tpsr/tpsr-v1.28.5.md
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_5.md
Labels: docs
