Repository zowe/docs-site, pull requests merged in 2023-02, with the labels that each got.

#2634 Added BiDi lang section
  docs/troubleshoot/ze/known-ze.md
Labels: area: zowe-explorer

#2638 fix for broken image links
  versioned_docs/version-v2.0.x/images/configure/workflow-four.jpg
  versioned_docs/version-v2.0.x/images/configure/workflow-four.png
  versioned_docs/version-v2.0.x/images/configure/workflow-one.jpg
  versioned_docs/version-v2.0.x/images/configure/workflow-one.png
  versioned_docs/version-v2.0.x/images/configure/workflow-parameters.jpg
  versioned_docs/version-v2.0.x/images/configure/workflow-parameters.png
  versioned_docs/version-v2.0.x/images/configure/workflow-threeB.jpg
  versioned_docs/version-v2.0.x/images/configure/workflow-threeB.png
  versioned_docs/version-v2.0.x/images/configure/workflow-two.jpg
  versioned_docs/version-v2.0.x/images/configure/workflow-two.png
  versioned_docs/version-v2.0.x/user-guide/certificates-setup.md
  versioned_docs/version-v2.1.x/images/configure/workflow-four.jpg
  versioned_docs/version-v2.1.x/images/configure/workflow-four.png
  versioned_docs/version-v2.1.x/images/configure/workflow-one.jpg
  versioned_docs/version-v2.1.x/images/configure/workflow-one.png
  versioned_docs/version-v2.1.x/images/configure/workflow-parameters.jpg
  versioned_docs/version-v2.1.x/images/configure/workflow-parameters.png
  versioned_docs/version-v2.1.x/images/configure/workflow-threeB.jpg
  versioned_docs/version-v2.1.x/images/configure/workflow-threeB.png
  versioned_docs/version-v2.1.x/images/configure/workflow-two.jpg
  versioned_docs/version-v2.1.x/images/configure/workflow-two.png
  versioned_docs/version-v2.1.x/images/zosmf/perform-workflows.jpg
  versioned_docs/version-v2.1.x/user-guide/certificates-setup.md
  versioned_docs/version-v2.1.x/user-guide/configure-zowe-zosmf-workflow.md
  versioned_docs/version-v2.2.x/images/configure/workflow-four.jpg
  versioned_docs/version-v2.2.x/images/configure/workflow-four.png
  versioned_docs/version-v2.2.x/images/configure/workflow-one.jpg
  versioned_docs/version-v2.2.x/images/configure/workflow-one.png
  versioned_docs/version-v2.2.x/images/configure/workflow-parameters.jpg
  versioned_docs/version-v2.2.x/images/configure/workflow-parameters.png
  versioned_docs/version-v2.2.x/images/configure/workflow-threeB.jpg
  versioned_docs/version-v2.2.x/images/configure/workflow-threeB.png
  versioned_docs/version-v2.2.x/images/configure/workflow-two.jpg
  versioned_docs/version-v2.2.x/images/configure/workflow-two.png
  versioned_docs/version-v2.2.x/images/zosmf/perform-workflows.jpg
  versioned_docs/version-v2.2.x/user-guide/certificates-setup.md
  versioned_docs/version-v2.2.x/user-guide/configure-zowe-zosmf-workflow.md
Labels: type: bug, docs

#2640 updated to use word "files"
  docs/troubleshoot/ze/known-ze.md
Labels: area: zowe-explorer

#2630 Error codes and troubleshooting CLI plug-ins
  docs/troubleshoot/cli/troubleshoot-cli-plugins.md
  sidebars.js
Labels: area: cli

#2631 Anax version badge fixes ze
  docs/getting-started/user-roadmap-zowe-explorer.md
  docs/user-guide/ze-install.md
Labels: area: zowe-explorer

#2653 Removed deprecated update-zos page
  versioned_docs/version-v2.0.x/user-guide/update-zos.md
  versioned_docs/version-v2.1.x/user-guide/update-zos.md
  versioned_docs/version-v2.2.x/user-guide/update-zos.md
  versioned_docs/version-v2.3.x/user-guide/update-zos.md
  versioned_docs/version-v2.4.x/user-guide/update-zos.md
  versioned_docs/version-v2.5.x/user-guide/update-zos.md
Labels: area: zos-install-upgrade, v2

#2682 Fix API ML security doc links in master
  docs/extend/extend-apiml/api-mediation-passtickets.md
  docs/extend/extend-apiml/api-mediation-sso.md
  docs/extend/extend-apiml/certificate-management-in-zowe-apiml.md
  docs/extend/extend-apiml/custom-metadata.md
  docs/extend/extend-apiml/onboard-overview.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/user-guide/cli-using-working-certificates.md
  docs/user-guide/configure-certificates-keystore.md
Labels: area: apiml

#2662 Add note re: P12 version for local_cer in Windows
  docs/extend/extend-apiml/certificate-management-in-zowe-apiml.md
Labels: area: apiml

#2652 Dev a new plugin tutorial update - v2.6
  docs/extend/extend-cli/cli-developing-a-plugin.md
  docs/images/guides/CLI/htmlDiff2.png
Labels: area: cli
