Repository zowe/docs-site, pull requests merged in 2024-04, with the labels that each got.

#3580 minor edit
  docs/user-guide/cli-configure-scs-on-headless-linux-os.md
Labels: area: cli, release: V2

#3568 Add details about multi tenant configuration
  docs/user-guide/api-mediation/configuration-multi-tenancy-routing.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3581 Link fixes in Integrating with API Mediation Layer
  docs/user-guide/cli-using-integrating-apiml.md
Labels: area: apiml, release: V2, review: doc

#3575 Fix duplications
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/user-guide/configure-certificates.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3186 Update zwe-install.md
  docs/appendix/zwe_server_command_reference/zwe/zwe-install.md
Labels: area: zwe, release: V2, release: V3, review: doc

#3583 Add Websocket related configuration
  docs/extend/extend-apiml/api-mediation-websockets.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3584 Zowe certificate overview refactor
  docs/getting-started/zowe-certificates-overview.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3587 updating file name for cli plug-in doc
  docs/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.10.x/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.11.x/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.12.x/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.13.x/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.14.x/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.6.x/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.7.x/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.8.x/extend/extend-cli/cli-developing-a-plugin.md
  versioned_docs/version-v2.9.x/extend/extend-cli/cli-developing-a-plugin.md
Labels: area: cli, release: V2, review: sme

#3586 Additional ports used in Caching Service (infinispan mode)
  docs/user-guide/address-network-requirements.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#3589 Additional ports used in Caching Service (infinispan mode) - keyExchange port updated
  docs/user-guide/address-network-requirements.md
Labels: area: apiml, area: install and config, release: V2, release: V3, review: doc

#3593 Janan07 general doc image refactoring
  docs/getting-started/zowe-architecture.md
  docs/getting-started/zowe-certificates-overview.md
  docs/getting-started/zowe-high-availability.md
  docs/user-guide/api-mediation/api-mediation-caching-service.md
Labels: area: apiml, release: V2, review: doc

#3590 Fix file type check in PR checker workflow
  .github/workflows/pull-request-checker.yml
Labels: area: docs, release: V2, review: doc

#3588 env vars doc updates for Zowe V3
  docs/user-guide/cli-using-setting-environment-variables-in-automation-server.md
  docs/user-guide/cli-using-using-environment-variables.md
Labels: area: cli, release: V3, review: sme

#3598 Restructure extending the API Mediation Layer
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3599 Fix broken link
  docs/user-guide/api-mediation/using-multi-factor-authentication.md
Labels: area: apiml, release: V2, review: doc

#3585 Add complete zss error messages
  docs/troubleshoot/app-framework/zss-error-codes.md
Labels: approved, release: V2, review: sme, area: Zowe App Framework

#3600 link fix
  docs/user-guide/configure-zowe-runtime.md
  docs/user-guide/configure-zowe-zosmf-workflow.md
  docs/user-guide/configuring-overview.md
  docs/user-guide/initialize-zos-system.md
Labels: area: install and config, release: V2, review: doc

#3601 minor typos/formatting
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
Labels: area: apiml, release: V2, review: doc

#3595 updates to Using content for Zowe CLI V3
  docs/user-guide/cli-using-global-storing-properties-automatically.md
  docs/user-guide/cli-using-integrating-apiml.md
  docs/user-guide/cli-using-team-managing-credential-security.md
  docs/user-guide/cli-using-understand-profiles-configs.md
  docs/user-guide/cli-using-working-certificates.md
  docs/user-guide/cli-using-writing-scripts.md
  sidebars.js
Labels: area: cli, release: V3, review: sme

#3390 ZSS Error Codes update
  docs/troubleshoot/app-framework/zss-error-codes.md
Labels: wip: do not merge, release: V2, release: V3, area: Zowe App Framework

#3603 Extending API ML formatting fixes
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
  docs/extend/extend-apiml/api-mediation-versioning.md
  docs/extend/extend-apiml/certificate-management-in-zowe-apiml.md
  docs/extend/extend-apiml/custom-metadata.md
  docs/extend/extend-apiml/onboard-micronaut-enabler.md
  docs/extend/extend-apiml/onboard-nodejs-enabler.md
  docs/extend/extend-apiml/onboard-overview.md
  docs/extend/extend-apiml/onboard-plain-java-enabler-external-configuration.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/extend/extend-apiml/quick-start-for-development.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3604 Add API ML Overview to sidebar.js
  docs/user-guide/api-mediation/api-mediation-overview.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3596 Zowe CLI notes, TPSRs for Zowe v1.28.6
  tpsr/tpsr-v1.28.6.md
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_6.md
Labels: area: cli, release: V1, review: sme

#3607 Anax v1.28.6 publishdocs docs
  api_definitions/swagger-zss.json
  docs/appendix/zowe-api-reference.md
  docs/images/ze/ZE-sorting-a-specific-PDS.gif
  docs/images/ze/ZE-sorting-jobs-by-date-completed.gif
  docs/images/ze/ZE-sorting-profile-PDS-members.gif
  docs/user-guide/installandconfig.md
  docs/user-guide/ze-working-with-data-sets.md
  docs/user-guide/ze-working-with-jobs.md
  tpsr/tpsr-v1.28.6.md
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_6.md
  versioned_sidebars/version-v1.28.x-sidebars.json
Labels: area: docs, release: V1, review: sme

#3602 ZWESVSTC --> ZWESLSTC for V2
  docs/appendix/zowe-glossary.md
  docs/extend/extend-apiml/onboard-static-definition.md
  docs/troubleshoot/app-framework/app-troubleshoot.md
  docs/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.10.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.10.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.11.x/appendix/zowe-glossary.md
  versioned_docs/version-v2.11.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.11.x/troubleshoot/app-framework/app-troubleshoot.md
  versioned_docs/version-v2.11.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.12.x/appendix/zowe-glossary.md
  versioned_docs/version-v2.12.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.12.x/troubleshoot/app-framework/app-troubleshoot.md
  versioned_docs/version-v2.12.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.13.x/appendix/zowe-glossary.md
  versioned_docs/version-v2.13.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.13.x/troubleshoot/app-framework/app-troubleshoot.md
  versioned_docs/version-v2.13.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.14.x/appendix/zowe-glossary.md
  versioned_docs/version-v2.14.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.14.x/troubleshoot/app-framework/app-troubleshoot.md
  versioned_docs/version-v2.14.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.5.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.5.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.5.x/user-guide/api-mediation/api-mediation-smf.md
  versioned_docs/version-v2.5.x/user-guide/configure-xmem-server.md
  versioned_docs/version-v2.5.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.6.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.6.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.6.x/user-guide/api-mediation/api-mediation-smf.md
  versioned_docs/version-v2.6.x/user-guide/configure-xmem-server.md
  versioned_docs/version-v2.6.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.7.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.7.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.7.x/user-guide/api-mediation/api-mediation-smf.md
  versioned_docs/version-v2.7.x/user-guide/configure-xmem-server.md
  versioned_docs/version-v2.7.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.8.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.8.x/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v2.8.x/user-guide/api-mediation/api-mediation-smf.md
  versioned_docs/version-v2.8.x/user-guide/configure-xmem-server.md
  versioned_docs/version-v2.9.x/extend/extend-apiml/onboard-static-definition.md
  versioned_docs/version-v2.9.x/troubleshoot/troubleshoot-apiml.md
Labels: area: apiml, area: install and config, review: doc

#3606 updating plug-in content for completness
  docs/extend/extend-cli/cli-developing-a-plugin.md
  docs/extend/extend-cli/cli-installing-sample-plugin.md
  sidebars.js
Labels: area: cli

#3610 updating Zowe CLI plug-ins content is Use tab for V3
  docs/user-guide/cli-cicsplugin.md
  docs/user-guide/cli-db2-install-m1.md
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-extending.md
  docs/user-guide/cli-ftpplugin.md
  docs/user-guide/cli-installplugins.md
  docs/user-guide/cli-mqplugin.md
  docs/user-guide/cli-swreqplugins.md
  docs/user-guide/cli-using-usingcli.md
Labels: area: cli, release: V3, review: sme

#3612 Add API ML security overview to sidebar
  docs/extend/extend-apiml/zowe-api-mediation-layer-security-overview.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3615 Add link to dummy auth provider article
  docs/user-guide/authentication-providers-for-apiml.md
Labels: area: apiml, release: V2, review: doc

#3616 Change links to API ML security overview now in api-layer
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
Labels: area: apiml, release: V2, review: doc

#3609 address Issues #3528 and #3529
  docs/user-guide/start-zowe-zos.md
Labels: area: install and config, release: V2, review: sme

#3620 Fix link syntax
  docs/user-guide/certificate-configuration-scenarios.md
  docs/user-guide/certificates-configuration-questionnaire.md
  package-lock.json
Labels: area: apiml, release: V2, review: doc

#3622 Add Troubleshoot zOS Startup to Sidebar
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3619 Add started task enablement details
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
Labels: area: apiml, release: V2, review: doc

#3626 Add vNext section
  sidebars.js
Labels: release: V2, review: sme

#3629 fix link syntax
  docs/user-guide/certificates-configuration-questionnaire.md
Labels: area: apiml, release: V2, review: doc

#3631 Remove misleading port configuration variable
  docs/user-guide/address-network-requirements.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#3625 Add cert troubleshooting tips
  docs/troubleshoot/troubleshoot-zos-certificate.md
Labels: area: install and config, release: V2, review: sme

#3636 Add new message that API Mediation Layer is up
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml, release: V2, review: doc

#3637 Clean the sidebar to reflect reality
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3634 updating doc for config file types
  docs/user-guide/cli-using-using-team-profiles.md
Labels: area: cli, release: V2, review: sme
