Repository zowe/docs-site, pull requests merged in 2024-08, with the labels that each got.

#3788 fix: remove replay protection disabling requirement
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#3779 first draft of Extending Zowe CLI for Zowe V3
  docs/extend/extend-cli/cli-authentication-mechanisms.md
  docs/extend/extend-cli/cli-creating-plug-in-lifecycle-actions.md
  docs/extend/extend-cli/cli-devTutorials.md
  docs/extend/extend-cli/cli-developing-a-plugin.md
  docs/extend/extend-cli/cli-extending-a-plugin.md
  docs/extend/extend-cli/cli-implement-profiles.md
  docs/extend/extend-cli/cli-installing-sample-plugin.md
  docs/extend/extend-cli/cli-setting-up.md
  docs/extend/extend-cli/cli-tutorials.md
  docs/extend/extend-sdks.md
  docs/extend/extend-zowe-overview.md
  sidebars.js
Labels: area: cli, release: V3, review: sme

#3790 "versions" glossary definition, first draft
  docs/appendix/zowe-glossary.md
Labels: area: docs, release: V2, review: sme

#3797 fixing typo
  docs/extend/extend-cli/cli-creating-plug-in-lifecycle-actions.md
Labels: area: cli, release: V3

#3802 Revert "Merge pull request #3800 from zowe/anax-v2.17-syncwithmaster-…
  versioned_docs/version-v2.16.x/extend/extend-apiml/api-mediation-oidc-authentication.md
Labels: area: docs, area: apiml, release: V2

#3796 Logging customization for APIML
  docs/user-guide/advanced-apiml-configuration.md
  docs/user-guide/api-mediation/configuration-logging.md
  sidebars.js
Labels: area: apiml, release: V2, release: V3, review: doc

#3807 general language refactor - glossary
  docs/appendix/zowe-glossary.md
Labels: area: docs, area: misc, release: V2, review: doc

#3799 Updating Troubleshooting CLI content for Zowe v3 - first draft
  docs/images/troubleshoot/cli/home_struc_2.png
  docs/troubleshoot/cli/cli-use-curl-to-troubleshoot.md
  docs/troubleshoot/cli/known-cli.md
  docs/troubleshoot/cli/mustgather-cli.md
  docs/troubleshoot/cli/troubleshoot-cli-credentials.md
  docs/troubleshoot/cli/troubleshoot-cli.md
  docs/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  docs/troubleshoot/cli/use-individual-troubleshoot-commands.md
  docs/troubleshoot/cli/zosmf-cli.md
  docs/troubleshoot/troubleshoot-zowe-release.md
  docs/troubleshoot/troubleshooting.md
  docs/user-guide/cli-configuringcli-ev.md
Labels: area: cli, release: V3, review: sme

#3805 Updating troubleshooting ZE content for Zowe V3 - first draft
  docs/troubleshoot/cli/cli-issue.md
  docs/troubleshoot/ze/known-ze.md
  docs/troubleshoot/ze/troubleshoot-ze.md
  docs/troubleshoot/ze/ze-issues.md
  docs/troubleshoot/ze/ze-known-limits.md
Labels: area: zowe-explorer, release: V3, review: sme

#3812 Anax v2.18 syncbranches docs
  docs/appendix/zowe-glossary.md
Labels: area: docs, release: V2

#3793 first draft of ZE extend content for V3
  docs/extend/extend-sdks.md
  docs/getting-started/install-zowe-sdks.md
  docs/getting-started/user-roadmap-client-sdk.md
  docs/user-guide/sdks-using.md
Labels: area: zowe-explorer, release: V3, review: sme

#3810 Reference Zowe CLI content update for Zowe V3
  docs/appendix/zowe-cli-command-reference.md
  sidebars.js
Labels: area: docs, area: cli, release: V3, review: sme

#3780 Update yaml examples in zwe-init-subcommand-overview.md
  docs/user-guide/zwe-init-subcommand-overview.md
Labels: area: install and config, release: V2, release: V3, review: doc

#3795 Update mvd-core-loggers.md
  docs/extend/extend-desktop/mvd-core-loggers.md
Labels: area: webui, release: V2, release: V3, review: doc

#3691 Add actions to v3 changes by component
  docs/whats-new/breaking-changes-v3.md
Labels: area: cli, area: apiml, release: V2, review: sme, area: Zowe App Framework

#3820 Sync master with doc-staging
  docs/extend/extend-desktop/mvd-core-loggers.md
  docs/troubleshoot/app-framework/zss-error-codes.md
  docs/user-guide/zwe-init-subcommand-overview.md
  docs/whats-new/breaking-changes-v3.md
Labels: release: V2, review: doc

#3821 API ML release notes 2.18
  docs/whats-new/release-notes/v2_18_0.md
Labels: area: apiml, release: V2, review: doc

#3822 CLI release notes for Zowe v2.18
  docs/whats-new/release-notes/v2_18_0.md
Labels: area: cli, release: V2

#3819 remove suggestion for pem section for keyrings
  docs/user-guide/use-certificates.md
  versioned_docs/version-v2.12.x/user-guide/use-certificates.md
  versioned_docs/version-v2.14.x/user-guide/use-certificates.md
  versioned_docs/version-v2.15.x/user-guide/use-certificates.md
  versioned_docs/version-v2.16.x/user-guide/use-certificates.md
Labels: area: install and config, release: V2, review: doc

#3759 Peer review of Configuring PassTickets
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#3817 Removed v1 details from the docs and updated to v2 zowe.yaml descript…
  docs/troubleshoot/troubleshoot-apiml.md
  docs/user-guide/import-certificates.md
Labels: area: apiml, release: V2, review: doc

#3826 Added release notes for ZSS in Zowe release version 2.18.0
  docs/whats-new/release-notes/v2_18_0.md
Labels: area: docs, area: webui, for-review, release: V2, review: doc, area: Zowe App Framework, priority-high

#3827 Fix formatting of codeblocks
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
Labels: area: apiml, release: V2, review: doc

#3829 Remove incorrect reference to CA
  docs/getting-started/zowe-security-authentication.md
Labels: area: misc, release: V2, review: doc

#3830 Fix anchor link
  docs/getting-started/zowe-security-authentication.md
Labels: area: misc, release: V2, review: doc

#3833 Add full dependency list to tpsr-v2.18
  tpsr/tpsr-v2.18.x.md
Labels: dependencies, release: V2

#3835 fix: allow url encoded characters by default
  docs/extend/extend-apiml/custom-metadata.md
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
Labels: area: onboarding, area: apiml, release: V2, release: V3, review: doc

#3836 Allow url encoded chars by default - master
  docs/extend/extend-apiml/custom-metadata.md
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
Labels: area: apiml, release: V2, review: doc
