Repository zowe/docs-site, pull requests merged in 2024-07, with the labels that each got.

#3733 Update v2_16_0.md
  docs/whats-new/release-notes/v2_16_0.md
Labels: review: sme, area: Zowe App Framework

#3749 Add request timeout for gateway property
  docs/user-guide/api-mediation/configuration-gateway-timeouts.md
Labels: area: apiml, release: V2, review: doc

#3755 Fix typo in enabling PassTickets
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#3740 Anax v3 ftpuse v3changes ze
  docs/getting-started/install-ze-extensions.md
  docs/getting-started/install-zowe-sdks.md
  docs/user-guide/providing-feedback-and-contributing-client-side.md
  docs/user-guide/sdks-using.md
  docs/user-guide/ze-ftp-supported-functions.md
  docs/user-guide/ze-ftp-using-ze-ftp-ext.md
  docs/user-guide/ze-using-zowe-explorer-cics-ext.md
  sidebars.js
Labels: area: zowe-explorer, release: V3, review: sme

#3746 Add Java SDK documentation
  docs/getting-started/overview.md
  docs/user-guide/sdks-using.md
Labels: release: V3, review: doc, area: SDK

#3758 update cert config file for previous versions
  versioned_docs/version-v2.10.x/user-guide/certificate-configuration-scenarios.md
  versioned_docs/version-v2.11.x/user-guide/certificate-configuration-scenarios.md
  versioned_docs/version-v2.12.x/user-guide/certificate-configuration-scenarios.md
  versioned_docs/version-v2.13.x/user-guide/certificate-configuration-scenarios.md
  versioned_docs/version-v2.14.x/user-guide/certificate-configuration-scenarios.md
Labels: area: install and config, release: V2, review: doc

#3760 Add internal api ml mapper config
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#3754 Links updated for must-gather.md
  docs/troubleshoot/servers/must-gather.md
Labels: area: install and config, release: V2, release: V3, review: doc

#3762 use code blocks format for java sdk related items
  docs/user-guide/sdks-using.md
Labels: release: V2, review: doc, area: SDK

#3766 Anax v2.17 branchsync docs
  .github/workflows/build-docs.yml
  README.md
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
  docs/extend/extend-apiml/api-mediation-layer-development-setup.md
  docs/extend/extend-apiml/certificate-management-in-zowe-apiml.md
  docs/extend/extend-apiml/custom-metadata.md
  docs/extend/extend-apiml/zaas-client.md
  docs/getting-started/overview.md
  docs/images/install/config.png
  docs/images/install/install.png
  docs/images/troubleshoot/build/digital_envelope_unsupported.png
  docs/troubleshoot/app-framework/app-return-codes.md
  docs/troubleshoot/app-framework/appserver-error-codes.md
  docs/troubleshoot/app-framework/zis-error-codes.md
  docs/troubleshoot/faq.md
  docs/troubleshoot/servers/must-gather.md
  docs/troubleshoot/troubleshoot-apiml.md
  docs/user-guide/advanced-apiml-configuration.md
  docs/user-guide/api-mediation/authenticating-with-personal-access-token.md
  docs/user-guide/api-mediation/configuration-api-mediation-standalone.md
  docs/user-guide/api-mediation/configuration-client-certificates.md
  docs/user-guide/api-mediation/configuration-connection-limits.md
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
  docs/user-guide/api-mediation/configuration-personal-access-token.md
  docs/user-guide/authenticating-with-client-certificates.md
  docs/user-guide/certificate-configuration-scenarios.md
  docs/user-guide/configure-caching-service-ha.md
  docs/user-guide/sdks-using.md
  docs/user-guide/start-zowe-zos.md
  docs/whats-new/release-notes/v2_16_0.md
  sidebars.js
  versioned_docs/version-v2.10.x/user-guide/certificate-configuration-scenarios.md
  versioned_docs/version-v2.11.x/user-guide/certificate-configuration-scenarios.md
  versioned_docs/version-v2.12.x/user-guide/certificate-configuration-scenarios.md
  versioned_docs/version-v2.13.x/user-guide/certificate-configuration-scenarios.md
  versioned_docs/version-v2.14.x/user-guide/certificate-configuration-scenarios.md
Labels: area: docs, release: V2

#3768 setting up release notes, tpsrs
  docs/whats-new/release-notes/v2_17_0.md
  docusaurus.config.js
  sidebars.js
  tpsr/tpsr-v2.17.x.md
Labels: area: docs, release: V2

#3748 Move content from zowe.org vNext to Docs
  docs/whats-new/zowe-v3-conformance-criteria.md
  docs/whats-new/zowe-v3-frequently-asked-questions.md
  docs/whats-new/zowe-v3-office-hours.md
  sidebars.js
Labels: area: install and config, release: V2, review: doc

#3770 Fix typo in conformance criteria for V3
  docs/whats-new/zowe-v3-conformance-criteria.md
  docs/whats-new/zowe-v3-frequently-asked-questions.md
  docs/whats-new/zowe-v3-office-hours.md
Labels: area: onboarding, release: V2, review: doc

#3771 added notes for app framework
  docs/whats-new/release-notes/v2_17_0.md
Labels: area: webui, release: V2, review: sme

#3772 Zowe 2.17 tpsrs
  tpsr/tpsr-v2.17.x.md
Labels: area: docs, release: V2

#3663 Zowe Server Install Wizard
  docs/user-guide/install-zowe-server-install-wizard.md
  docs/user-guide/install-zowe-smpe.md
  docs/user-guide/k8s-introduction.md
  sidebars.js
Labels: status: review, for-review, release: V2, review: doc, area: Zowe App Framework

#3777 V3 API Mediation Layer related cleanup
  docs/appendix/zowe-yaml-configuration.md
  docs/contribute/contributing.md
  docs/contribute/guidelines-code/categories.md
  docs/extend/dynamic-static-registration-overview.md
  docs/extend/extend-api/ReactJSUI.md
  docs/extend/extend-api/api-intro.md
  docs/extend/extend-api/existingAPI.md
  docs/extend/extend-api/existingApp.md
  docs/extend/extend-api/liberty-api-sample.md
  docs/extend/extend-api/libertyAPI.md
  docs/extend/extend-apiml/api-mediation-components-of-URL.md
  docs/extend/extend-apiml/api-mediation-layer-development-setup.md
  docs/extend/extend-apiml/api-mediation-vsam.md
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
  docs/extend/extend-apiml/websocket.md
  docs/getting-started/overview.md
  docs/getting-started/user-roadmap-apiml.md
  docs/getting-started/zowe-high-availability.md
  docs/getting-started/zowe-resources.md
  docs/getting-started/zowe-security-authentication.md
  docs/getting-started/zowe-security-overview.md
  docs/getting-started/zowe_faq.md
  docs/images/api-mediation/api-catalog.png
  docs/troubleshoot/troubleshoot-apiml.md
  docs/user-guide/api-mediation-change-password-via-catalog.md
  docs/user-guide/api-mediation/api-gateway-rest-apis-documentation.md
  docs/user-guide/api-mediation/api-mediation-caching-service.md
  docs/user-guide/api-mediation/api-mediation-overview.md
  docs/user-guide/api-mediation/api-mediation-update-password.md
  docs/user-guide/api-mediation/authenticating-with-personal-access-token.md
  docs/user-guide/api-mediation/configuration-api-mediation-standalone.md
  docs/user-guide/api-mediation/configuration-at-tls.md
  docs/user-guide/api-mediation/configuration-client-certificates.md
  docs/user-guide/api-mediation/configuration-customizing-java-heap-sizes.md
  docs/user-guide/api-mediation/configuration-customizing-management-of-apiml-load-limits.md
  docs/user-guide/api-mediation/configuration-customizing-the-api-catalog-ui.md
  docs/user-guide/api-mediation/configuration-distributed-load-balancer-cache.md
  docs/user-guide/api-mediation/configuration-personal-access-token.md
  docs/user-guide/api-mediation/configuration-set-consistent-service-id.md
  docs/user-guide/api-mediation/diagrams/service-relationship-diagram.png
  docs/user-guide/api-mediation/discovery-service-configuration.md
  docs/user-guide/api-mediation/routing-requests-to-rest-apis.md
  docs/user-guide/authenticating-with-client-certificates.md
  docs/user-guide/authentication-providers-for-apiml.md
  docs/user-guide/install-zos.md
  docs/user-guide/systemrequirements-zos.md
Labels: area: apiml, release: V3, review: doc
