Repository zowe/docs-site, pull requests merged in 2024-11, with the labels that each got.

#3972 Clean-up old office hours refs
  docs/whats-new/zowe-v3-office-hours.md
  versioned_docs/version-v2.18.x/whats-new/zowe-v3-office-hours.md
Labels: area: onboarding, release: V2, release: V3, review: sme

#3974 fix racf passticket setup based on tests
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/configuration-extender-passtickets.md
Labels: area: apiml, area: install and config, release: V2, release: V3, review: doc

#3973 Links for v3
  docs/user-guide/configmgr-using.md
  docs/whats-new/zowe-v3-office-hours.md
  versioned_docs/version-v2.18.x/whats-new/zowe-v3-office-hours.md
Labels: area: install and config, release: V3, review: doc

#3979 fix recording link for Open Hours 10-18
  docs/whats-new/zowe-v3-office-hours.md
  versioned_docs/version-v2.18.x/whats-new/zowe-v3-office-hours.md
Labels: area: misc, release: V3, review: doc

#3975 updating gnome note
  docs/user-guide/cli-configure-scs-on-headless-linux-os.md
Labels: area: cli, release: V3, review: sme

#3982 Rate limiter documentation
  docs/user-guide/api-mediation/configuration-customizing-management-of-apiml-load-limits.md
  docs/user-guide/api-mediation/customizing-gateway-rate-limiter.md
  sidebars.js
Labels: area: docs, release: V3, review: doc

#3988 Fix x.509 configuration requirements for RACF
  docs/user-guide/authenticating-with-client-certificates.md
  versioned_docs/version-v2.18.x/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, area: install and config, release: V2, release: V3, review: doc

#3990 port: Update Docusaurus to 3.6 and enable faster builds
  .github/workflows/build-docs.yml
  docusaurus.config.js
  package-lock.json
  package.json
  src/theme/DocItem/DocContent.js
  src/theme/DocItem/Layout.js
  src/theme/DocItem/index.js
  src/theme/DocVersionBanner/index.js
  src/theme/MDXComponents/Tpsr.js
  src/theme/NavbarItem/DocsVersionDropdownNavbarItem.js
Labels: area: docs, release: V3

#3983 proxy env variable doc
  docs/user-guide/cli-configuringcli-ev.md
  docs/user-guide/cli-using-formatting-environment-variables.md
  docs/user-guide/cli-using-using-environment-variables.md
Labels: area: cli, release: V3, review: sme

#3987 Change title in migration guide from v2 ref to vx ref
  docs/whats-new/zowe-v3-migration.md
Labels: area: misc, release: V3, review: sme

#3992 Adding Node V22 note for DB2 plug-in
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-swreqplugins.md
  docusaurus.config.js
Labels: area: cli, release: V3, review: sme

#3996 fixing header in SDK doc
  docs/user-guide/sdks-using.md
Labels: release: V3, review: sme, area: SDK

#3997 updating links to CLI issue template
  docs/getting-started/user-roadmap-client-sdk.md
  docs/user-guide/user-roadmap-zowe-cli.md
Labels: area: cli, release: V3, review: sme

#3995 Doc for virtual workspaces resources in ZE
  docs/user-guide/ze-usage-tips.md
  docusaurus.config.js
Labels: area: zowe-explorer, release: V3, review: sme

#3977 Add missing details for APIML cookie config
  docs/user-guide/api-mediation/configuration-unique-cookie-name-for-multiple-zowe-instances.md
  versioned_docs/version-v2.15.x/user-guide/api-mediation/configuration-unique-cookie-name-for-multiple-zowe-instances.md
  versioned_docs/version-v2.16.x/user-guide/api-mediation/configuration-unique-cookie-name-for-multiple-zowe-instances.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/configuration-unique-cookie-name-for-multiple-zowe-instances.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/configuration-unique-cookie-name-for-multiple-zowe-instances.md
Labels: type: bug, area: apiml, release: V2, release: V3, review: doc

#3999 adding powershell troubleshoot doc
  docs/images/troubleshoot/cli/PowerShell_developer_setting.png
  docs/troubleshoot/cli/known-cli.md
Labels: area: cli, release: V3, review: sme

#4001 initial draft
  docs/whats-new/release-notes/v3_0_0.md
  docs/whats-new/zowe-compatibility-statement-v3.md
  sidebars.js
  versioned_docs/version-v2.15.x/whats-new/zowe-compatibility-statement-v2.md
  versioned_docs/version-v2.16.x/whats-new/zowe-compatibility-statement-v2.md
  versioned_docs/version-v2.17.x/whats-new/zowe-compatibility-statement-v2.md
  versioned_docs/version-v2.18.x/whats-new/zowe-compatibility-statement-v2.md
  versioned_sidebars/version-v2.15.x-sidebars.json
  versioned_sidebars/version-v2.16.x-sidebars.json
  versioned_sidebars/version-v2.17.x-sidebars.json
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: onboarding, release: V2, review: sme

#3994 Add missing block in AT-TLS configuration
  docs/user-guide/configuring-at-tls-for-zowe-server.md
  versioned_docs/version-v2.18.x/user-guide/configuring-at-tls-for-zowe-server.md
Labels: area: apiml, area: install and config, release: V2, release: V3, review: doc

#4012 rate limit per service
  docs/extend/extend-apiml/custom-metadata.md
  docs/user-guide/api-mediation/customizing-gateway-rate-limiter.md
Labels: area: docs, review: doc

#4009 Update workflows to use latest versions of actions
  .github/workflows/build-docs.yml
  .github/workflows/deploy-preview.yml
Labels: area: misc, release: V3, review: doc

#4005 Update install-zowe-zos-convenience-build.md
  docs/user-guide/install-zowe-zos-convenience-build.md
Labels: area: zwe, release: V3, review: doc

#4013 fix caching service properties, add deprecations
  docs/user-guide/api-mediation/api-mediation-caching-service.md
  docs/user-guide/configure-caching-service-ha.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/api-mediation-caching-service.md
  versioned_docs/version-v2.18.x/user-guide/configure-caching-service-ha.md
Labels: area: apiml, High Availability, release: V2, release: V3, review: doc

#3240 Update AppFw configuration guide for extenders
  docs/extend/extend-desktop/mvd-logutility.md
  docs/extend/extend-desktop/mvd-server-config.md
  sidebars.js
Labels: area: webui

#4019 apply security config reorg to 2.18
  versioned_docs/version-v2.18.x/user-guide/apf-authorize-load-library.md
  versioned_docs/version-v2.18.x/user-guide/configure-zos-system.md
  versioned_docs/version-v2.18.x/user-guide/configure-zowe-runtime.md
  versioned_docs/version-v2.18.x/user-guide/configuring-overview.md
  versioned_docs/version-v2.18.x/user-guide/configuring-security.md
  versioned_docs/version-v2.18.x/user-guide/initialize-zos-system.md
  versioned_docs/version-v2.18.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.18.x/user-guide/verify-zowe-runtime-install.md
  versioned_docs/version-v2.18.x/user-guide/zos-components-installation-checklist.md
  versioned_docs/version-v2.18.x/user-guide/zwe-init-subcommand-overview.md
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: install and config, release: V2, review: doc

#4018 Update installation checklist post security config reorg
  docs/user-guide/zos-components-installation-checklist.md
Labels: area: install and config, release: V3, review: doc

#4028 Support multiple certificate validation URLs
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml, release: V3, review: doc
