Repository zowe/docs-site, pull requests merged in 2024-06, with the labels that each got.

#3669 Updating Install ZE topics for Zowe V3
  docs/appendix/zowe-glossary.md
  docs/getting-started/ZE-system-reqs.md
  docs/getting-started/user-roadmap-zowe-explorer.md
  docs/troubleshoot/ze/troubleshoot-ze.md
  docs/user-guide/ZE-install-checklist.md
  docs/user-guide/_ze-install copy.md
  docs/user-guide/cli-install-cli-checklist.md
  docs/user-guide/cli-install-configure-zosmf-security.md
  docs/user-guide/cli-install-configure-zosmf.md
  docs/user-guide/cli-uninstall.md
  docs/user-guide/install-zowe-client-side-components.md
  docs/user-guide/systemrequirements-cli.md
  docs/user-guide/systemrequirements-zosmf.md
  docs/user-guide/user-roadmap-zowe-cli.md
  docs/user-guide/ze-ftp-install-ze-ftp-ext.md
  docs/user-guide/ze-ftp-using-ze-ftp-ext.md
  docs/user-guide/ze-install-configuring-ze.md
  docs/user-guide/ze-install-uninstall-ze.md
  docs/user-guide/ze-install-verify-your-installation.md
  docs/user-guide/ze-install-zowe-explorer-cics-ext.md
  docs/user-guide/ze-install.md
  docs/user-guide/ze-profiles.md
  docs/user-guide/ze-use-cases.md
  docs/user-guide/ze-working-with-data-sets.md
  docs/user-guide/ze-working-with-jobs.md
  docs/user-guide/ze-working-with-uss-files.md
  sidebars.js
Labels: area: zowe-explorer, release: V3, review: sme

#3695 Fix minor typos
  docs/user-guide/configmgr-using.md
Labels: area: apiml, release: V2, review: doc

#3696 fix link syntax in Configuring security
  docs/user-guide/configuring-security.md
Labels: area: apiml, release: V2, review: sme

#3692 Move configuration of certificate to Install section
  docs/user-guide/api-mediation/configuration-client-certificates.md
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, review: doc

#3698 Add note to cert config scenario 1
  docs/user-guide/certificate-configuration-scenarios.md
Labels: area: install and config, release: V2, review: sme

#3701 Anax v3 syncbranches v3changes ze
  docs/getting-started/ZE-system-reqs.md
  docs/getting-started/user-roadmap-zowe-explorer.md
  docs/user-guide/ZE-install-checklist.md
  docs/user-guide/cli-install-configure-zosmf-security.md
  docs/user-guide/cli-install-configure-zosmf.md
  docs/user-guide/install-zowe-client-side-components.md
  docs/user-guide/user-roadmap-zowe-cli.md
  docs/user-guide/ze-ftp-using-ze-ftp-ext.md
  docs/user-guide/ze-install-configuring-ze.md
  docs/user-guide/ze-install-uninstall-ze.md
  docs/user-guide/ze-install-verify-your-installation.md
  docs/user-guide/ze-install.md
  docs/user-guide/ze-profiles.md
  docs/user-guide/ze-use-cases.md
  docs/user-guide/ze-working-with-data-sets.md
  docs/user-guide/ze-working-with-jobs.md
  docs/user-guide/ze-working-with-uss-files.md
Labels: area: zowe-explorer, release: V3

#3704 Typo: user-guide/apiml/configuration-connection-limits.md
  docs/user-guide/api-mediation/configuration-connection-limits.md
Labels: area: apiml, release: V2, release: V3, review: doc

#3708 Anax v1.28.7 newtpsrs docs
  tpsr/tpsr-v1.28.7.md
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_7.md
Labels: area: docs, release: V1

#3706 Change the example for login in zaas
  docs/extend/extend-apiml/zaas-client.md
Labels: area: apiml, release: V2, review: doc

#3710 fix links in client-certificate-configuration
  docs/user-guide/api-mediation/configuration-client-certificates.md
Labels: area: apiml, release: V2, review: doc

#3713 Typo in example: configuration-connection-limits.md
  docs/user-guide/api-mediation/configuration-connection-limits.md
Labels: area: apiml, release: V2, release: V3, review: doc

#3715 Build with git depth to get correct last updated
  .github/workflows/build-docs.yml
Labels: area: site-infrastructure, release: V2, review: sme

#3699 Anax v3 baseprofilename v3changes cli
  docs/appendix/zowe-glossary.md
  docs/user-guide/cli-using-command-precedence.md
  docs/user-guide/cli-using-creating-global-user-profiles.md
  docs/user-guide/cli-using-creating-profiles.md
  docs/user-guide/cli-using-editing-team-configuration.md
  docs/user-guide/cli-using-initializing-user-configuration.md
  docs/user-guide/cli-using-team-managing-credential-security.md
  docs/user-guide/cli-using-using-team-profiles.md
  docs/user-guide/ze-profiles.md
  docs/whats-new/release-notes/v3_0_0.md
  sidebars.js
Labels: area: cli, release: V3, review: sme

#3717 documenting known CLI issue
  docs/troubleshoot/cli/known-cli.md
Labels: area: cli, release: V3, review: sme

#3718 Fix broken links in Custom Metadata
  docs/extend/extend-apiml/custom-metadata.md
Labels: area: apiml, release: V2, review: doc

#3673 Add missing steps to PassTicket configuration
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
Labels: area: apiml, area: install and config, release: V2, review: sme

#3722 Fix title for cert mngmnt doc
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
  docs/extend/extend-apiml/api-mediation-layer-development-setup.md
  docs/extend/extend-apiml/certificate-management-in-zowe-apiml.md
Labels: area: apiml, release: V2, review: doc

#3714 Anax v3 use v3changes ze
  docs/user-guide/ze-install.md
  docs/user-guide/ze-usage-tips.md
  docs/user-guide/ze-usage.md
  docs/user-guide/ze-working-with-commands.md
  docs/user-guide/ze-working-with-data-sets.md
  docs/user-guide/ze-working-with-jobs.md
  docs/user-guide/ze-working-with-uss-files.md
  sidebars.js
Labels: area: zowe-explorer, release: V3, review: sme

#3725 App server minor update
  docs/troubleshoot/app-framework/app-return-codes.md
  docs/troubleshoot/app-framework/appserver-error-codes.md
  docs/troubleshoot/app-framework/zis-error-codes.md
Labels: area: webui, release: V2, release: V3, review: doc, area: Zowe App Framework

#3726 Add collapsible content tags for cert config scenarios
  docs/user-guide/certificate-configuration-scenarios.md
Labels: area: install and config, release: V2, review: doc

#3727 Add notes re: infinispan with PAT for Caching service
  docs/user-guide/api-mediation/authenticating-with-personal-access-token.md
  docs/user-guide/api-mediation/configuration-personal-access-token.md
  docs/user-guide/configure-caching-service-ha.md
Labels: area: apiml, High Availability, release: V2, review: sme

#3648 Fixed Typo start-zowe-zos.md
  docs/user-guide/start-zowe-zos.md
Labels: area: docs

#3734 update TOC for advanced API ML config
  docs/user-guide/advanced-apiml-configuration.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#3735 Consolidate apiml troubleshooting topics
  docs/troubleshoot/faq.md
  docs/troubleshoot/troubleshoot-apiml.md
  docs/user-guide/advanced-apiml-configuration.md
Labels: area: apiml, release: V2, review: doc

#3736 Fix typo in Enabling Personal Access Tokens
  docs/user-guide/api-mediation/configuration-personal-access-token.md
Labels: area: apiml, release: V2, review: doc
