Repository zowe/docs-site, pull requests merged in 2024-09, with the labels that each got.

#3843 Update troubleshoot-apiml-error-codes.md with ZWEAC105W
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml, release: V3, review: doc

#3841 fix links in address storage requirements
  docs/user-guide/address-storage-requirements.md
Labels: area: install and config, release: V2, review: sme

#3846 fix typo in zwe trace option
  docs/user-guide/initialize-zos-system.md
  versioned_docs/_version-v2.13.x/user-guide/initialize-zos-system.md
  versioned_docs/_version-v2.14.x/user-guide/initialize-zos-system.md
  versioned_docs/version-v2.15.x/user-guide/initialize-zos-system.md
  versioned_docs/version-v2.16.x/user-guide/initialize-zos-system.md
  versioned_docs/version-v2.17.x/user-guide/initialize-zos-system.md
Labels: area: install and config, release: V2, review: doc

#3861 Fix workflows on Master
  .github/workflows/deploy-preview.yml
  .github/workflows/pr-comment-trigger.yml
  .github/workflows/pull-request-checker.yml
Labels: area: docs, release: V2, review: doc

#3860 Update workflows to have more correct permissions
  .github/workflows/build-docs.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/pr-comment-trigger.yml
  .github/workflows/pull-request-checker.yml
Labels: area: docs, release: V2, review: doc

#3866 Fix build
  .github/workflows/build-docs.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/pr-comment-trigger.yml
  .github/workflows/pull-request-checker.yml
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml

#3815 doc for profile config for mult API ML instances
  docs/user-guide/cli-using-creating-profiles.md
  docs/user-guide/ze-profiles.md
Labels: area: cli, area: zowe-explorer, release: V3, review: sme

#3828 Added Configuring Zowe via JCL topic
  docs/user-guide/configuring-overview.md
  docs/user-guide/configuring-zowe-via-jcl.md
  docs/user-guide/zos-components-installation-checklist.md
  package-lock.json
  sidebars.js
Labels: area: install and config, release: V2, review: doc, review: sme

#3876 Create troubleshooting install wizard article
  docs/user-guide/install-zowe-server-install-wizard.md
  docs/user-guide/troubleshooting-zowe-server-install-wizard.md
  sidebars.js
Labels: area: install and config, release: V2, review: doc

#3874 fix link in config via jcl
  docs/user-guide/configuring-zowe-via-jcl.md
Labels: area: install and config, release: V2, review: sme

#3882 Address next steps during Zowe config
  docs/user-guide/configuring-security.md
  docs/user-guide/initialize-zos-system.md
Labels: area: install and config, release: V2, review: sme

#3853 Further fixes for V3 from API Mediation Layer
  docs/appendix/zowe-yaml-configuration.md
  docs/getting-started/zowe-architecture.md
  docs/images/common/zowe-architecture copy.png
  docs/images/common/zowe-architecture-docker copy.png
  docs/images/common/zowe-architecture-ha copy.png
  docs/images/common/zowe-architecture-k8s copy.png
  docs/user-guide/api-mediation/configuration-connection-limits.md
  docs/user-guide/api-mediation/configuration-gateway-timeouts.md
  docs/user-guide/api-mediation/configuration-health-endpoint-protection.md
  docs/user-guide/api-mediation/configuration-personal-access-token.md
Labels: area: apiml, release: V3, review: doc

#3883 added note to Defining the RACF ZOWE class
  docs/user-guide/mvd-configuration.md
Labels: area: webui, for-review, review: doc, review: sme, area: Zowe App Framework

#3885 Update zowe-v3-office-hours.md
  docs/getting-started/user-roadmap-apiml.md
  docs/getting-started/user-roadmap-app-framework.md
  docs/getting-started/user-roadmap-client-sdk.md
  docs/getting-started/user-roadmap-zowe-explorer.md
  docs/getting-started/zowe-resources.md
  docs/user-guide/user-roadmap-zowe-cli.md
  docs/whats-new/release-notes/v2_10_0.md
  docs/whats-new/release-notes/v2_11_0.md
  docs/whats-new/release-notes/v2_12_0.md
  docs/whats-new/release-notes/v2_13_0.md
  docs/whats-new/release-notes/v2_14_0.md
  docs/whats-new/release-notes/v2_15_0.md
  docs/whats-new/release-notes/v2_16_0.md
  docs/whats-new/release-notes/v2_17_0.md
  docs/whats-new/release-notes/v2_18_0.md
  docs/whats-new/release-notes/v2_5_0.md
  docs/whats-new/release-notes/v2_6_0.md
  docs/whats-new/release-notes/v2_7_0.md
  docs/whats-new/release-notes/v2_8_0.md
  docs/whats-new/release-notes/v2_9_0.md
  docs/whats-new/zowe-v3-office-hours.md
Labels: area: onboarding, release: V2, review: doc

#3651 Fix typo mvd-conda.md
  docs/extend/extend-desktop/mvd-conda.md
Labels: area: docs

#3886 Address issue #3851
  docs/user-guide/sdks-using.md
Labels: release: V2, review: doc, area: SDK

#3891 Improve textation around the Breaking change to zOSMF LTPA token
  docs/whats-new/breaking-changes-v3.md
Labels: area: apiml, release: V2, review: doc

#3892 Updated powerpoint and associated images for v3
  docs/images/common/zowe-architecture copy.png
  docs/images/common/zowe-architecture-docker copy.png
  docs/images/common/zowe-architecture-k8s copy.png
  docs/images/common/zowe-architecture-k8s.png
  docs/images/common/zowe-architecture.png
  docs/images/common/zowe-architecture.pptx
Labels: area: docs, release: V3, review: doc

#3887 V3 app framework updates and misc.
  docs/appendix/zowe-yaml-configuration.md
  docs/extend/extend-desktop/mvd-conda.md
  docs/extend/extend-desktop/mvd-configdataservice.md
  docs/extend/extend-desktop/mvd-externals.md
  docs/extend/extend-desktop/mvd-iframecomm.md
  docs/extend/extend-desktop/mvd-mvdandwindowmgt.md
  docs/extend/extend-desktop/mvd-server-config.md
  docs/extend/server-schemas.md
  docs/getting-started/zowe-architecture.md
  docs/user-guide/address-network-requirements.md
  docs/user-guide/configmgr-using.md
  docs/user-guide/install-nodejs-zos.md
  docs/user-guide/install-zos.md
  docs/user-guide/mvd-configuration.md
  docs/user-guide/mvd-using.md
  docs/user-guide/systemrequirements-zos.md
  docs/whats-new/breaking-changes-v3.md
  docs/whats-new/zowe-v3-frequently-asked-questions.md
  sidebars.js
Labels: area: docs, area: apiml, area: webui, area: misc, wip: do not merge, area: install and config, release: V3, review: doc
