Repository zowe/docs-site, pull requests merged in 2024-05, with the labels that each got.

#3639 Fix typos in troubleshoot zos certificate
  docs/troubleshoot/troubleshoot-zos-certificate.md
Labels: area: apiml, release: V2, review: doc

#3643 Add API ML release notes for v2.16.0
  docs/whats-new/release-notes/v2_16_0.md
Labels: area: apiml, release: V2, review: sme

#3646 consolidate certificate troubleshooting
  docs/troubleshoot/troubleshoot-apiml.md
  docs/troubleshoot/troubleshoot-zos-certificate.md
Labels: area: apiml, release: V2, review: doc

#3650 new Zowe announcement
  docs/whats-new/zowe-announcements.md
Labels: area: docs, release: V2

#3649 new log directory doc
  docs/images/troubleshoot/cli/home_struc.png
  docs/troubleshoot/cli/use-individual-troubleshoot-commands.md
Labels: area: cli, release: V3, review: sme

#3644 Multi-tenancy certificates setup
  docs/user-guide/api-mediation/api-mediation-multi-tenancy.md
  docs/user-guide/api-mediation/diagrams/mt-trust-relations.png
Labels: area: apiml, area: install and config, release: V2, release: V3, review: doc, review: sme

#3656 bumping release versions
  docusaurus.config.js
  sidebars.js
  tpsr/tpsr-v2.16.x.md
Labels: area: docs, release: V2

#3660 Fix API ML release notes syntax v2.16
  docs/whats-new/release-notes/v2_16_0.md
Labels: area: apiml, release: V2, review: doc

#3662 Update v2_16_0.md
  docs/whats-new/release-notes/v2_16_0.md
Labels: for-review, release: V2, area: Zowe App Framework

#3657 adding CLI release notes for Zowe v2.16
  docs/whats-new/release-notes/v2_16_0.md
Labels: area: docs, release: V2, review: sme

#3666 Architecture diagram for multitenancy configuration
  docs/user-guide/api-mediation/api-mediation-multi-tenancy.md
  docs/user-guide/api-mediation/diagrams/multi-domain_architecture_V2.svg
  docs/user-guide/api-mediation/using-api-mediation-layer.md
Labels: area: apiml, release: V2, review: doc

#3670 Fix APIML ATTLS documentation
  docs/user-guide/api-mediation/configuration-at-tls.md
Labels: area: apiml, release: V2, review: doc

#3675 updating accessibility tip admonition
  docs/user-guide/cli-using-usingcli.md
Labels: area: cli, release: V2, review: sme

#3679 Zowe v2.16 TPSRs
  tpsr/tpsr-v2.16.x.md
Labels: area: docs, release: V2

#3664 Restructure routing explanation
  docs/extend/extend-apiml/api-mediation-routing.md
  docs/images/api-mediation/RoutingMultipleInstancesSysplex.png
  docs/images/api-mediation/RoutingNorthboundSouthbound.png
  docs/images/api-mediation/RoutingOneLparMultipleInstances.png
  docs/images/api-mediation/RoutingSysplexDifferentLpar.png
  docs/images/api-mediation/RoutingSysplexSameLpar.png
  docs/images/api-mediation/RoutingVersioned.png
  docs/images/api-mediation/SimpleRouting.png
  docs/user-guide/api-mediation/routing-requests-to-rest-apis.md
  package-lock.json
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3684 Fix issues find during the demo
  docs/extend/extend-apiml/api-mediation-routing.md
  docs/user-guide/api-mediation/api-mediation-multi-tenancy.md
Labels: area: apiml, release: V2, review: doc

#3686 Update configuration-at-tls.md
  docs/user-guide/api-mediation/configuration-at-tls.md
Labels: area: apiml, release: V2, review: doc

#3687 removing outdated announcement
  docs/whats-new/zowe-announcements.md
Labels: area: docs, release: V2

#3678 Update ZWES1606W with specific case
  docs/troubleshoot/app-framework/zss-error-codes.md
Labels: release: V2, release: V3, review: doc, area: Zowe App Framework
