Repository zowe/docs-site, pull requests merged in 2024-10, with the labels that each got.

#3894 Issue WTO message on API Mediation Layer startup
  docs/user-guide/api-mediation/wto-message-on-startup.md
  docs/whats-new/release-notes/v2_0_0.md
  docs/whats-new/release-notes/v2_16_0.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3910 merging updated Zowe V3 doc
  docs/whats-new/release-notes/v3_0_0.md
  docs/whats-new/zowe-announcements.md
  sidebars.js
Labels: area: docs, release: V3

#3906 Update v3_0_0.md for breaking changes content
  docs/whats-new/release-notes/v3_0_0.md
Labels: area: docs, release: V3, review: doc

#3914 relocating items in what's new section; editing for style, consistency
  docs/appendix/zowe-glossary.md
  docs/extend/migrate-extensions.md
  docs/getting-started/zowe-office-hours.md
  docs/getting-started/zowe-resources.md
  docs/getting-started/zowe-v2-overview.md
  docs/getting-started/zowe_faq.md
  docs/getting-started/zowe_v2_faq.md
  docs/whats-new/zowe-announcements.md
  docs/whats-new/zowe-v3-frequently-asked-questions.md
  sidebars.js
Labels: area: docs, release: V3

#3924 Fix PR label checker and broken link checker
  .github/workflows/link-checker.yml
  .github/workflows/pr-comment-trigger.yml
Labels: area: docs, release: V3, review: doc

#3916 Update of Configuring Zowe with z/OSMF workflow article
  docs/images/zosmf/perform-workflows.jpg
  docs/images/zosmf/perform-workflows.png
  docs/images/zosmf/workflow-componentsVariables.png
  docs/images/zosmf/workflow-defineVariables.png
  docs/images/zosmf/workflow-zoweConfiguration.png
  docs/user-guide/configure-zowe-zosmf-workflow.md
  versioned_docs/version-v2.18.x/images/zosmf/perform-workflows.png
  versioned_docs/version-v2.18.x/images/zosmf/workflow-componentsVariables.png
  versioned_docs/version-v2.18.x/images/zosmf/workflow-defineVariables.png
  versioned_docs/version-v2.18.x/images/zosmf/workflow-zoweConfiguration.png
  versioned_docs/version-v2.18.x/user-guide/configure-zowe-zosmf-workflow.md
Labels: area: install and config, release: V2, release: V3, review: doc

#3920 Update of PSWI installation process
  docs/user-guide/install-zowe-pswi-deployment.md
  versioned_docs/version-v2.18.x/user-guide/install-zowe-pswi-deployment.md
Labels: area: install and config, release: V2, release: V3, review: doc

#3926 Add network tables for helping with network setup
  docs/user-guide/address-network-requirements.md
  versioned_docs/version-v2.15.x/user-guide/address-network-requirements.md
  versioned_docs/version-v2.16.x/user-guide/address-network-requirements.md
  versioned_docs/version-v2.17.x/user-guide/address-network-requirements.md
  versioned_docs/version-v2.18.x/user-guide/address-network-requirements.md
Labels: area: install and config, release: V2, release: V3, review: doc

#3933 collapsing; opening release notes ToC
  sidebars.js
Labels: area: docs, release: V3

#3928 Revise USS doc
  docs/user-guide/configure-uss.md
  versioned_docs/version-v2.15.x/user-guide/configure-uss.md
  versioned_docs/version-v2.16.x/user-guide/configure-uss.md
  versioned_docs/version-v2.17.x/user-guide/configure-uss.md
  versioned_docs/version-v2.18.x/user-guide/configure-uss.md
Labels: area: install and config, release: V2, release: V3, review: doc

#3929 Update systemrequirements-zos.md SDSF recommendations
  docs/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.15.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.16.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.17.x/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.18.x/user-guide/systemrequirements-zos.md
Labels: area: install and config, release: V2, release: V3, review: doc

#3935 Visualize "install" options as options under parent category
  docs/user-guide/install-zowe-zos-convenience-build.md
  sidebars.js
Labels: area: install and config, release: V3, review: doc

#3938 Append content Re: z/OSMF in V2R5 for earlier z/OS versions
  docs/whats-new/breaking-changes-v3.md
  docs/whats-new/release-notes/v3_0_0.md
Labels: area: apiml, release: V3, review: sme

#3940 Remove invalid codes not available anymore
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml, release: V3, review: doc

#3944 adding new env variable
  docs/user-guide/cli-configuringcli-ev.md
Labels: area: cli, release: V3, review: sme

#3947 Add Systems Squad Office Hours
  docs/whats-new/zowe-v3-office-hours.md
Labels: area: misc, release: V3, review: doc

#3921 added additonal notes to V3
  docs/whats-new/release-notes/v3_0_0.md
Labels: area: webui, for-review, release: V3, review: doc, review: sme, area: Zowe App Framework, priority-high

#3946 documenting file associations instructions for V3
  docs/user-guide/ze-usage-tips.md
Labels: area: zowe-explorer, release: V3, review: sme

#3951 Extended information about additional registration of APIML
  docs/user-guide/api-mediation/api-mediation-multi-tenancy.md
  docs/user-guide/api-mediation/configuration-multi-tenancy-routing.md
Labels: area: apiml, release: V2, release: V3, review: doc

#3956 Update documentation about Infinispan config
  docs/extend/extend-apiml/api-mediation-infinispan.md
  docs/user-guide/configure-sysplex.md
  versioned_docs/version-v1.28.x/user-guide/configure-sysplex.md
  versioned_docs/version-v2.18.x/extend/extend-apiml/api-mediation-infinispan.md
Labels: area: apiml, area: install and config, release: V2, release: V3, review: doc

#3960 Update certificate-management-in-zowe-apiml.md
  docs/extend/extend-apiml/certificate-management-in-zowe-apiml.md
Labels: area: apiml, release: V3, review: sme

#3958 fix: Usage of Cloud Gateway vs Gateway in multitenancy for v3
  docs/user-guide/api-mediation/api-mediation-multi-tenancy.md
  docs/user-guide/api-mediation/diagrams/multi-domain_architecture_V2.svg
Labels: area: apiml, release: V3, review: doc

#3957 [v2] Update AT-TLS configuration articles
  versioned_docs/version-v2.18.x/user-guide/api-mediation/configuration-at-tls.md
  versioned_docs/version-v2.18.x/user-guide/at-tls-configuration.md
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: apiml, area: install and config, release: V2, review: doc, review: sme

#3939 Updated advanced configuration for app framework page for v3
  docs/getting-started/zowe-security-authentication.md
  docs/user-guide/address-authentication-requirements.md
  docs/user-guide/api-mediation/using-multi-factor-authentication.md
  docs/user-guide/configure-zos-system.md
  docs/user-guide/mvd-configuration.md
  docs/user-guide/mvd-using.md
Labels: area: webui, release: V3, review: doc

#3931 Update JCL documentation for v3
  docs/user-guide/configuring-zowe-via-jcl.md
Labels: area: install and config, release: V3, review: doc

#3961 guide for the java sample client certificate authentication
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml

#3897 Update AT-TLS configuration articles
  docs/user-guide/api-mediation/configuration-at-tls.md
  docs/user-guide/at-tls-configuration.md
  sidebars.js
Labels: area: apiml, area: install and config, release: V3, review: doc

#3964 Fix SSO links
  docs/user-guide/address-authentication-requirements.md
Labels: area: apiml, release: V2, release: V3, review: doc

#3965 Add WTO Message on startup configuration guide.
  versioned_docs/version-v2.18.x/user-guide/api-mediation/wto-message-on-startup.md
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: apiml, release: V2, review: doc

#3968 at-tls v3 configuration to master
  docs/getting-started/zowe-certificates-overview.md
  docs/user-guide/advanced-apiml-configuration.md
  docs/user-guide/api-mediation/configuration-at-tls.md
  docs/user-guide/api-mediation/configuration-jwt.md
  docs/user-guide/at-tls-configuration.md
  docs/user-guide/configuring-at-tls-for-zowe-server.md
  docs/user-guide/mvd-configuration.md
  sidebars.js
  versioned_docs/version-v2.18.x/user-guide/configuring-at-tls-for-zowe-server.md
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: apiml, area: install and config, release: V3, review: doc

#3971 Fix AT-TLS sidebars in docs-staging
  docs/getting-started/zowe-certificates-overview.md
  docs/user-guide/advanced-apiml-configuration.md
  docs/user-guide/configuring-at-tls-for-zowe-server.md
  sidebars.js
Labels: area: apiml, area: install and config, release: V3, review: doc

#3962 Add section for enabling/disabling components by groups
  docs/user-guide/install-configure-zos-extensions.md
  docs/user-guide/installandconfig.md
  sidebars.js
  versioned_docs/version-v2.15.x/user-guide/install-configure-zos-extensions.md
  versioned_docs/version-v2.16.x/user-guide/install-configure-zos-extensions.md
  versioned_docs/version-v2.17.x/user-guide/install-configure-zos-extensions.md
  versioned_docs/version-v2.18.x/user-guide/install-configure-zos-extensions.md
  versioned_sidebars/version-v2.16.x-sidebars.json
  versioned_sidebars/version-v2.17.x-sidebars.json
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: install and config, release: V2, release: V3, review: doc
