Repository zowe/docs-site, pull requests merged in 2024-12, with the labels that each got.

#4020 Update systemrequirements-zosmf-lite.md
  docs/user-guide/systemrequirements-zosmf-lite.md
Labels: release: V3, review: doc, review: sme, area: Web browser

#4023 Add recommendations based on testing for PSWI deployment
  docs/user-guide/configure-sysplex.md
  docs/user-guide/configuring-at-tls-for-zowe-server.md
  docs/user-guide/install-zowe-pswi-acquire.md
  docs/user-guide/install-zowe-pswi-deployment.md
  docs/user-guide/install-zowe-pswi.md
  docs/user-guide/zos-components-installation-checklist-dev.md
  versioned_docs/version-v2.18.x/user-guide/configure-sysplex.md
  versioned_docs/version-v2.18.x/user-guide/configuring-at-tls-for-zowe-server.md
  versioned_docs/version-v2.18.x/user-guide/install-zowe-pswi-acquire.md
  versioned_docs/version-v2.18.x/user-guide/install-zowe-pswi-deployment.md
  versioned_docs/version-v2.18.x/user-guide/install-zowe-pswi.md
Labels: area: install and config, release: V2, release: V3, review: doc, review: sme

#4010 fixing broken links in ZE doc
  docs/getting-started/ZE-system-reqs.md
  docs/user-guide/ze-ftp-install-ze-ftp-ext.md
Labels: area: zowe-explorer, release: V3, review: sme

#4029 Clarify jobname for app-server port
  docs/user-guide/address-network-requirements.md
  versioned_docs/version-v2.15.x/user-guide/address-network-requirements.md
  versioned_docs/version-v2.16.x/user-guide/address-network-requirements.md
  versioned_docs/version-v2.17.x/user-guide/address-network-requirements.md
  versioned_docs/version-v2.18.x/user-guide/address-network-requirements.md
Labels: area: install and config, release: V2, release: V3, review: doc

#4017 Add defaults to Zowe yaml configuration
  docs/appendix/zowe-yaml-configuration.md
Labels: area: install and config, release: V2, release: V3, review: doc

#4034 Fix RBAC setup suggestion for wrong directory
  docs/user-guide/mvd-configuration.md
  versioned_docs/version-v2.15.x/user-guide/mvd-configuration.md
  versioned_docs/version-v2.16.x/user-guide/mvd-configuration.md
  versioned_docs/version-v2.17.x/user-guide/mvd-configuration.md
  versioned_docs/version-v2.18.x/user-guide/mvd-configuration.md
Labels: area: webui, release: V2, release: V3, review: doc

#4035 Fix additional steps for users of third-party cert. management tools
  versioned_docs/version-v2.18.x/troubleshoot/troubleshoot-zos-certificate.md
Labels: area: docs, area: misc, release: V2, release: V3, review: doc

#4036 Added info to describe how to get the Db2 connection details from JES
  docs/user-guide/cli-db2plugin.md
Labels: area: cli, release: V3, review: doc

#4044 fix intro to config routing in multi-tenant env
  docs/user-guide/api-mediation/configuration-multi-tenancy-routing.md
Labels: area: apiml, release: V3, review: sme
