Repository zowe/docs-site, pull requests merged in 2024-03, with the labels that each got.

#3474 Zowe V3 delay banner
  docs/whats-new/zowe-announcements.md
  docusaurus.config.js
Labels: area: docs, release: V2, review: sme

#3486 Remove private and public clients
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/user-guide/api-mediation-sso.md
Labels: area: apiml, release: V2, release: V3, review: doc

#3487 Add client sdk info to sidebar
  docs/getting-started/user-roadmap-client-sdk.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3484 adding certificate troubleshoot
  docs/troubleshoot/ze/known-ze.md
Labels: area: zowe-explorer, release: V2, review: sme

#3490 fix link syntax
  docs/user-guide/install-zos.md
  docs/user-guide/install-zowe-smpe-overview.md
  docs/user-guide/install-zowe-smpe.md
  docs/user-guide/k8s-introduction.md
Labels: area: install and config, release: V2, review: doc

#3491 link fixes
  docs/user-guide/k8s-introduction.md
Labels: area: install and config, release: V2, review: doc

#3495 link fix
  docs/extend/extend-apiml/custom-metadata.md
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
  docs/extend/extend-apiml/onboard-micronaut-enabler.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/extend/extend-apiml/onboard-static-definition.md
  docs/extend/extend-apiml/zowe-api-mediation-layer-security-overview.md
  docs/user-guide/address-browser-requirements.md
Labels: area: apiml, release: V2, review: doc

#3496 add v2.15 TPSRs
  tpsr/tpsr-v2.15.x.md
Labels: release: V2

#3493 Remove files when creating tars to save disk space
  .github/workflows/build-docs.yml
  .github/workflows/link-checker.yml
  package-lock.json
  package.json
Labels: area: docs, release: V2, review: doc

#3500 Add info about auth provider recommendations
  docs/extend/extend-apiml/authentication-for-apiml-services.md
Labels: area: apiml, release: V2, review: sme

#3498 Incorrect property name
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, release: V3, review: doc

#3502 link fixes in Authentication for API ML Services
  docs/extend/extend-apiml/authentication-for-apiml-services.md
Labels: area: apiml, release: V2, review: doc

#3503 add new APIML troubleshooting messages
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml, release: V2, review: doc

#3509 link fixes
  docs/user-guide/api-mediation/configuration-authorization.md
  docs/user-guide/api-mediation/configuration-cors.md
  docs/user-guide/api-mediation/configuration-customizing-management-of-apiml-load-limits.md
  docs/user-guide/api-mediation/configuration-enable-single-sign-on-extenders.md
  docs/user-guide/api-mediation/configuration-jwt.md
  docs/user-guide/api-mediation/configuration-limiting-access-to-info-or-services-in-api-catalog.md
  docs/user-guide/api-mediation/configuration-personal-access-token.md
  docs/user-guide/api-mediation/configuration-routing.md
  docs/user-guide/api-mediation/configuration-single-sign-on-user.md
Labels: area: apiml, release: V2, review: doc

#3511 Add tip re: CLI IDF plug-in
  docs/extend/extend-apiml/api-mediation-oidc-authentication.md
Labels: area: apiml, release: V2, review: sme

#3513 Add 2.14 vulnerabilities fixed
  docs/whats-new/release-notes/v2_15_0.md
Labels: area: docs, release: V2

#3515 Update CLI plug-in docs around creating user profiles
  docs/user-guide/cli-ftpplugin.md
  docs/user-guide/cli-mqplugin.md
Labels: area: cli, release: V3, review: doc

#3517 Remove link to deprecated content in change password via catalog
  docs/user-guide/api-mediation-change-password-via-catalog.md
Labels: area: apiml, release: V2, review: doc

#3518 Move caching service config under installing in sidebar
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3522 Move Authenticating OIDC under SSO in Using
  docs/extend/extend-apiml/api-mediation-oidc-authentication.md
  docs/user-guide/api-mediation/authenticating-with-personal-access-token.md
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3497 first draft of "Using team configuration" content
  docs/appendix/zowe-glossary.md
  docs/user-guide/_cli-using-team-configuration-application-developers.md
  docs/user-guide/_cli-using-team-configuration-team-leaders.md
  docs/user-guide/cli-using-benefits-of-team-config.md
  docs/user-guide/cli-using-creating-profiles.md
  docs/user-guide/cli-using-editing-team-configuration.md
  docs/user-guide/cli-using-initializing-user-configuration.md
  docs/user-guide/cli-using-sharing-team-config-files.md
  docs/user-guide/cli-using-using-team-profiles.md
  sidebars.js
Labels: area: cli, release: V3, review: sme

#3536 Add explanation for Websocket timeouts.
  docs/user-guide/api-mediation/configuration-connection-limits.md
Labels: area: apiml

#3537 Remove onboard-direct-eureka-call from sidebar
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3523 Create Authentication providers for API ML
  docs/extend/extend-apiml/api-mediation-layer-development-setup.md
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/user-guide/authentication-providers-for-apiml.md
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3519 updated content for creating a profile w/ commands
  docs/user-guide/cli-db2plugin.md
Labels: area: cli, release: V3, review: sme

#3542 Fixes to Start Zowe z/OS and Authentication for API ML services from peer review
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/user-guide/start-zowe-zos.md
Labels: area: apiml, release: V2, review: sme

#3543 Create api-mediation-passtickets.md
  docs/extend/extend-apiml/api-mediation-passtickets.md
Labels: area: apiml

#3545 Clean up extend zowe overview
  docs/extend/dynamic-static-registration-overview.md
  docs/extend/extend-desktop/mvd-extendingzlux.md
  docs/extend/extend-zowe-overview.md
Labels: area: apiml, release: V2, review: sme, area: Zowe App Framework

#3546 Fix admonition
  docs/user-guide/api-mediation/configuration-at-tls.md
Labels: area: apiml, release: V2, review: doc

#3547 fix links in onboard-direct-eureka-call
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
Labels: area: apiml, release: V2, review: doc

#3548 Fix links in Authenticating with Client Certificate
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, review: doc

#3550 fix anchors
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, review: doc

#3539 Documenting USS drag and drop feature
  docs/images/ze/ZE-uss-drag-drop.gif
  docs/user-guide/ze-working-with-uss-files.md
Labels: area: zowe-explorer, release: V3, review: sme

#3549 Fix the URL for specific service information
  docs/user-guide/obtaining-information-about-api-services.md
Labels: area: apiml, review: doc

#3524 Add the information about the Quick Start for API ML
  docs/extend/extend-apiml/onboard-plain-java-enabler-external-configuration.md
  docs/extend/extend-apiml/quick-start-for-development.md
  sidebars.js
Labels: area: apiml

#3552 Fix incorrect links
  dco_signoffs/Jakub-Balhar-docs-site.txt
  docs/extend/extend-apiml/api-mediation-passtickets.md
  docs/extend/extend-apiml/certificate-management-in-zowe-apiml.md
  docs/user-guide/api-mediation/configuration-connection-limits.md
  docs/user-guide/systemrequirements-zos.md
Labels: area: apiml, release: V2, review: doc

#3555 Proxy support doc for ZE
  docs/troubleshoot/ze/troubleshoot-ze.md
  docs/user-guide/ze-profiles.md
Labels: area: zowe-explorer, release: V2, review: sme

#3554 Add Workaround for JWT Refresh Token
  docs/user-guide/api-mediation/configuration-jwt.md
Labels: area: apiml, release: V2, review: doc

#3553 Add the information about /tmp
  docs/user-guide/installandconfig.md
Labels: area: apiml, area: install and config, release: V2

#3556 fixing admonition and typo
  docs/user-guide/configure-xmem-server.md
  docs/user-guide/configure-zos-system.md
Labels: area: install and config, release: V2

#3557 Add Mainframe resource consumption section
  docs/user-guide/systemrequirements-zos.md
Labels: area: apiml, release: V2, review: sme

#3561 Return the page with info where the information moved
  docs/user-guide/api-mediation/api-mediation-personal-access-token.md
Labels: area: apiml, release: V2, review: doc

#3565 Fix links
  docs/extend/extend-apiml/zaas-client.md
  docs/getting-started/zowe-security-authentication.md
  docs/user-guide/configuring-overview.md
  docs/user-guide/install-zos.md
  docs/user-guide/installandconfig.md
Labels: area: apiml, release: V2, review: doc

#3567 update service name for port 7553
  versioned_docs/version-v2.6.x/user-guide/systemrequirements-zos.md
Labels: area: apiml, release: V2, review: sme

#3571 Improve Workflow to Generate List of Least Most Recently Modified Files
  .github/workflows/report-least-recent-modified-files.yml
Labels: area: docs, area: misc, release: V2, review: doc

#3563 adding CICD env variable example
  docs/user-guide/cli-configure-scs-on-headless-linux-os.md
  docs/user-guide/cli-using-using-environment-variables.md
Labels: area: cli, release: V2, review: sme

#3564 doc for client certificates in api ml, cli integration
  docs/user-guide/cli-using-integrating-apiml.md
Labels: area: cli, release: V2, review: sme

#3573 doc prep for Zowe v1.28.6
  tpsr/tpsr-v1.28.6.md
  versioned_docs/version-v1.28.x/getting-started/release-notes/v1_28_6.md
  versioned_sidebars/version-v1.28.x-sidebars.json
Labels: area: docs, release: V1

#3574 minor language refactoring and link fix
  docs/user-guide/cli-using-integrating-apiml.md
  docs/user-guide/generate-certificates.md
Labels: area: apiml, release: V2, review: doc

#3576 fix link in install-zos
  docs/user-guide/install-zos.md
Labels: area: install and config, release: V2, review: doc

#3570 Create Single Sign On section for Extenders
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/extend/extend-apiml/onboard-static-definition.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3577 added pswi bugfix note
  docs/whats-new/release-notes/v2_15_0.md
Labels: area: misc, release: V2, review: doc

#3578 removing V3 banner; adding banner instructions
  docusaurus.config.js
  release-handbook/creating_site_banner.md
Labels: area: docs, Banner Request, release: V2
