Repository zowe/docs-site, pull requests merged in 2024-01, with the labels that each got.

#3323 Anax v2.13 pathnote cli
  docs/user-guide/_cli-using-creating-global-team-profiles.md
  docs/user-guide/systemrequirements-cli.md
Labels: area: cli

#3335 Auto-detect RC number in update typedoc script
  scripts/updateTypedoc.sh
Labels: area: docs

#3273 Anax test branch
  .github/pr-comments/for-community.md
  .github/pr-comments/for-labeller.md
  .github/pr-comments/for-writer.md
  .github/pull_request_template.md
  .github/workflows/link-checker.yml
  .github/workflows/pr-comment-trigger.yml
  .github/workflows/pull-request-checker.yml
  versioned_docs/version-v2.12.x/getting-started/release-notes/v2_11_0.md
Labels: area: docs

#3343 Note re OIDC unavailability on ACF2 systems
  docs/extend/extend-apiml/api-mediation-oidc-authentication.md
Labels: area: apiml, release: V2, review: doc

#3337 updating sec credential doc
  docs/appendix/zowe-glossary.md
  docs/user-guide/cli-using-team-managing-credential-security.md
  docs/user-guide/cli-using-using-team-profiles.md
  docs/user-guide/systemrequirements-cli.md
Labels: area: cli, release: V2, review: sme

#3348 adding FAQ re: submitting enhancement requests
  docs/getting-started/zowe_faq.md
Labels: area: docs, release: V2, review: sme

#3341 Adding PEM certificate troubleshooting
  docs/troubleshoot/cli/troubleshoot-cli-credentials.md
Labels: area: cli, release: V2, review: sme

#3355 bumping v2.14 release
  docs/getting-started/release-notes/v2_13_0.md
  docs/whats-new/release-notes/v2_14_0.md
  docusaurus.config.js
  sidebars.js
  tpsr/tpsr-v2.14.x.md
Labels: area: docs, release: V2

#3358 changing references of vNext
  docs/user-guide/cli-installcli.md
Labels: area: cli, release: V2

#3352 Anax v2.13 odbctroubleshoot cli
  docs/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  docs/user-guide/cli-db2plugin.md
  sidebars.js
Labels: area: cli, release: V2, review: sme

#3356 added Zowe CLI release notes
  docs/whats-new/release-notes/v2_14_0.md
Labels: area: cli, release: V2, review: sme

#3360 Add API ML release notes for 2.14
  docs/whats-new/release-notes/v2_14_0.md
Labels: area: apiml, release: V2

#3349 Improve access to security terminology
  docs/appendix/zowe-glossary.md
  docs/appendix/zowe-security-glossary.md
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3239 Guide for enabling tracing on app framework
  docs/troubleshoot/app-framework/appfw-tracing.md
  sidebars.js
Labels: area: webui, type: troubleshoot, release: V2, review: doc

#3366 Add using infinispan to sidebar
  docs/extend/extend-apiml/api-mediation-caching-service.md
  docs/extend/extend-apiml/api-mediation-infinispan.md
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3370 updating release notes to include YouTube link
  docs/whats-new/release-notes/v2_13_0.md
  docs/whats-new/release-notes/v2_14_0.md
  release-handbook/release_notes_guide.md
Labels: area: docs, release: V2

#3389 Update v2_14_0.md
  docs/whats-new/release-notes/v2_14_0.md
Labels: area: webui, area: install and config

#3331 Create Authenticating with client certificates file
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml

#3332 Retitle Authenticating with personal access token
  docs/user-guide/api-mediation/authenticating-with-personal-access-token.md
Labels: area: apiml

#3319 Create article Authenticating with JWT token
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/user-guide/api-mediation/configuration-jwt.md
  docs/user-guide/authenticating-with-jwt-token.md
Labels: area: apiml

#3368 addressing post-merge feedback from PR 3352
  docs/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  docs/user-guide/cli-db2plugin.md
Labels: area: cli, release: V2, review: sme

#3391 Create sidebar for single sign on for API ML
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3387 Add API ML bugfixes for v2.14
  docs/whats-new/release-notes/v2_14_0.md
Labels: area: apiml, release: V2, review: sme

#3394 Janan07 fix security overview link
  docs/getting-started/user-roadmap-apiml.md
  docs/getting-started/zowe-security-overview.md
  docs/user-guide/authenticating-with-client-certificates.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3395 Move API ML SSO landing page from extend to user guide
  docs/user-guide/api-mediation-sso.md
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3398 link/format/user fixes to Using SSO with API ML articles
  docs/user-guide/api-mediation-sso.md
  docs/user-guide/authenticating-with-client-certificates.md
  docs/user-guide/authenticating-with-jwt-token.md
  docs/user-guide/initialize-zos-system.md
Labels: area: apiml, release: V2, review: doc

#3401 Link fix and other minor fixes in API ML SSO doc
  docs/user-guide/api-mediation/authenticating-with-personal-access-token.md
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, review: doc

#3329 Use Docusaurus sitemap plugin to remove old versions from SEO
  docusaurus.config.js
  package-lock.json
Labels: area: docs

#3402 adding Zowe v2.14 tpsrs
  tpsr/tpsr-v2.14.x.md
Labels: area: docs, release: V2

#3369 Anax v2.15 newenvvariables cli
  docs/appendix/zowe-glossary.md
  docs/appendix/zowe-security-glossary.md
  docs/extend/extend-apiml/api-mediation-caching-service.md
  docs/extend/extend-apiml/api-mediation-infinispan.md
  docs/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  docs/user-guide/cli-configuringcli-ev.md
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/cli-using-using-environment-variables.md
  release-handbook/release_handbook.md
  release-handbook/release_notes_guide.md
  sidebars.js
Labels: area: cli, release: V2, review: sme

#3407 removing duplicate article in sidebar
  sidebars.js
Labels: area: docs, area: apiml, release: V2

#3409 Add expiration customization instructions to config with JWT
  docs/user-guide/api-mediation/configuration-jwt.md
Labels: area: apiml, release: V2, review: sme

#3344 Create article: Routing requests to REST APIs
  docs/extend/extend-apiml/implementing-routing-to-the-api-gateway.md
  docs/user-guide/api-mediation/routing-requests-to-rest-apis.md
  sidebars.js
Labels: area: apiml, wip: do not merge, release: V2

#3411 Create Article: Routing requests to the GraphQL API
  docs/images/api-mediation/graphql-image.png
  docs/user-guide/api-mediation/use-graphql-api.md
Labels: area: apiml, release: V2, review: doc

#3346 Retitle Routing MultiTenancy Configuration
  docs/user-guide/api-mediation/api-mediation-multi-tenancy.md
Labels: area: apiml, wip: do not merge, release: V2

#3365 Create article Routing with websockets for API ML Using section
  docs/extend/extend-apiml/websocket.md
  docs/user-guide/routing-with-websockets.md
Labels: area: apiml, wip: do not merge, release: V2

#3412 Add Using API ML routing section to sidebar
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3399 Anax v2.13 promptinstructions cli
  docs/user-guide/cli-using-using-prompt-feature.md
Labels: area: cli, release: V2, review: sme
