Repository zowe/docs-site, pull requests merged in 2024-02, with the labels that each got.

#3413 Clean up API routing section
  docs/user-guide/api-mediation/routing-requests-to-rest-apis.md
  docs/user-guide/api-mediation/use-graphql-api.md
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3393 adding V1 EOS banner
  docusaurus.config.js
  src/css/custom.css
  src/theme/DocVersionBanner/index.js
Labels: area: docs, Banner Request, release: V2, review: sme

#3418 Apply edits to authenticating with client certificate
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, review: sme

#3420 Additional edits to Authenticating with client certificates
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, review: sme

#3421 Create sections for Learning about APIs, Administrating APIs, and Using the Caching Service in API ML Using section
  docs/user-guide/api-mediation-static-api-refresh.md
  docs/user-guide/api-mediation-swagger-code-snippets.md
  docs/user-guide/api-mediation-swagger-try-it-out.md
  docs/user-guide/api-mediation/api-mediation-caching-service.md
  docs/user-guide/obtaining-information-about-api-services.md
  docs/user-guide/onboard-wizard.md
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3423 Fix links in API ML Using section after restructuring
  docs/extend/extend-apiml/api-mediation-components-of-URL.md
  docs/user-guide/api-mediation/api-mediation-caching-service.md
  docs/user-guide/obtaining-information-about-api-services.md
  sidebars.js
Labels: area: apiml, release: V2, review: sme

#3430 replace client cert png with new version
  docs/images/api-mediation/zowe-client-cert-auth.png
Labels: area: apiml, release: V2, review: doc

#3431 How to register the client certificate with the user ID
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, review: sme

#3432 Fix formatting and links for Authenticating with Client Certificates
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V2, review: doc

#3417 updating Zowe CLI installation topics for Zowe V3
  docs/extend/zowe-conformance-program.md
  docs/user-guide/ZE-install-checklist.md
  docs/user-guide/install-zowe-client-side-components.md
  docs/user-guide/user-roadmap-zowe-cli copy.md
  docs/user-guide/user-roadmap-zowe-cli.md
  sidebars.js
Labels: area: cli, release: V3, review: sme

#3438 adding deprecation content for IBM IMS CLI plug-in for Zowe V2.15
  docs/troubleshoot/cli/troubleshoot-cli-plugins.md
  docs/user-guide/cli-extending.md
  docs/user-guide/cli-idfplugin.md
  docs/user-guide/cli-imsplugin.md
  docs/user-guide/cli-installplugins.md
  docs/user-guide/cli-swreqplugins.md
  docs/user-guide/systemrequirements-cli.md
Labels: area: docs, release: V2, review: sme

#3439 removing V1 EOS site banner
  docusaurus.config.js
  release-handbook/creating_site_banner.md
Labels: area: docs, release: V2

#3443 Remove reference to "@include" in yaml doc
  docs/appendix/zowe-yaml-configuration.md
Labels: area: install and config, release: V2, review: doc

#3457 Apply fixes to sso overview
  docs/user-guide/api-mediation-sso.md
Labels: area: apiml, release: V2, review: doc

#3463 Minor refactoring of MFA from review
  docs/user-guide/address-authentication-requirements.md
  package-lock.json
  sidebars.js
Labels: area: apiml, release: V2, review: doc

#3461 Anax v3 synchingwmaster v3changes docs
  .github/workflows/build-docs.yml
  docs/appendix/zowe-yaml-configuration.md
  docs/user-guide/api-mediation-sso.md
  docusaurus.config.js
  package-lock.json
  package.json
  release-handbook/creating_site_banner.md
Labels: area: docs, release: V3

#3466 Link fixes from issues in doc site repo
  docs/getting-started/zowe-architecture.md
  docs/getting-started/zowe-security-authentication.md
  docs/user-guide/api-mediation-sso.md
  docs/user-guide/api-mediation/using-api-mediation-layer.md
  docs/user-guide/authenticating-with-client-certificates.md
  docs/user-guide/authenticating-with-jwt-token.md
Labels: area: apiml, release: V2, review: doc

#3452 updating Use section content 1
  docs/appendix/zowe-glossary.md
  docs/user-guide/cli-using-command-precedence.md
  docs/user-guide/cli-using-displaying-help.md
  docs/user-guide/cli-using-issuing-first-command.md
  docs/user-guide/cli-using-understanding-core-command-groups.md
  docs/user-guide/cli-using-usingcli.md
  docs/user-guide/zowe-getting-started-tutorial.md
  versioned_docs/version-v2.13.x/user-guide/cli-using-usingcli.md
  versioned_docs/version-v2.13.x/user-guide/zowe-getting-started-tutorial.md
Labels: area: cli, release: V3, review: sme

#3434 Anax v3 installchecklistreorg2 v3changes cli
  docs/appendix/zowe-glossary.md
  docs/user-guide/_cli-using-test-zosmf-connection.md
  docs/user-guide/_install-cli-via-proxy.md
  docs/user-guide/cli-configure-cli-on-os-where-scs-unavailable.md
  docs/user-guide/cli-configure-daemon-on-zlinux-os.md
  docs/user-guide/cli-configure-scs-on-headless-linux-os.md
  docs/user-guide/cli-configuringcli-ev.md
  docs/user-guide/cli-configuringcli-evfile.md
  docs/user-guide/cli-install-cli-checklist.md
  docs/user-guide/cli-install-cli-nodejs-windows.md
  docs/user-guide/cli-install-configure-install-online-registry-proxy.md
  docs/user-guide/cli-install-configure-zosmf-security.md
  docs/user-guide/cli-install-configure-zosmf.md
  docs/user-guide/cli-install-verify-your-installation.md
  docs/user-guide/cli-installcli copy.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/cli-swreqplugins.md
  docs/user-guide/cli-uninstall.md
  docs/user-guide/cli-updatingcli.md
  docs/user-guide/cli-using-initializing-team-configuration.md
  docs/user-guide/cli-using-using-daemon-mode.md
  docs/user-guide/systemrequirements-cli.md
  sidebars.js
  static/stable/Zowe_CLI_Installation_Checklist.xlsx
Labels: area: cli, release: V3, review: sme

#3468 editing Zowe CLI Install content to address PR feedback
  docs/user-guide/cli-install-configure-zosmf-security.md
  docs/user-guide/cli-install-configure-zosmf.md
  docs/user-guide/cli-installcli.md
  docs/user-guide/cli-uninstall.md
  docs/user-guide/cli-updatingcli.md
  docs/user-guide/cli-using-using-daemon-mode.md
Labels: area: cli, release: V3, review: sme

#3453 Add breaking changes file into What's New
  docs/whats-new/breaking-changes-v3.md
  sidebars.js
Labels: release: V2, review: sme

#3469 fixing commands, adding note, other edits
  docs/appendix/zowe-glossary.md
  docs/user-guide/cli-using-integrating-apiml.md
Labels: area: cli, release: V2, review: sme

#3470 fixing commands, adding note, other edits
  docs/appendix/zowe-glossary.md
  docs/user-guide/cli-using-integrating-apiml.md
Labels: area: cli, release: V3

#3478 Janan07 sync branches 2
  docs/appendix/zowe-glossary.md
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/zaas-client.md
  docs/extend/extend-desktop/mvd-server-config.md
  docs/extend/k8s-extend.md
  docs/getting-started/overview.md
  docs/getting-started/user-roadmap-apiml.md
  docs/troubleshoot/ze/troubleshoot-ze.md
  docs/user-guide/address-authentication-requirements.md
  docs/user-guide/api-mediation/api-gateway-rest-apis-documentation.md
  docs/user-guide/api-mediation/api-mediation-caching-service.md
  docs/user-guide/api-mediation/api-mediation-overview.md
  docs/user-guide/api-mediation/configuration-customizing-the-api-catalog-ui.md
  docs/user-guide/api-mediation/configuration-personal-access-token.md
  docs/user-guide/api-mediation/routing-requests-to-rest-apis.md
  docs/user-guide/api-mediation/using-multi-factor-authentication.md
  docs/user-guide/cli-using-integrating-apiml.md
  docs/user-guide/configure-caching-service-ha.md
  docs/user-guide/install-zowe-smpe-overview.md
  docs/user-guide/install-zowe-smpe.md
Labels: release: V2

#3475 fix(cics-links): Update all repository links to the new monorepo
  docs/troubleshoot/cli/troubleshoot-cli-plugins.md
  docs/user-guide/ze-install-zowe-explorer-cics-ext.md
  docs/user-guide/ze-provide-feedback-contribute.md
  docs/whats-new/release-notes/v2_0_0.md
  release-handbook/release_notes_guide.md
  versioned_docs/_version-v1.26.x/user-guide/ze-cics.md
  versioned_docs/version-v1.27.x/user-guide/ze-cics.md
  versioned_docs/version-v1.28.x/user-guide/ze-cics.md
  versioned_docs/version-v2.10.x/getting-started/release-notes/v2_0_0.md
  versioned_docs/version-v2.10.x/troubleshoot/cli/troubleshoot-cli-plugins.md
  versioned_docs/version-v2.10.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.10.x/user-guide/ze-provide-feedback-contribute.md
  versioned_docs/version-v2.11.x/getting-started/release-notes/v2_0_0.md
  versioned_docs/version-v2.11.x/troubleshoot/cli/troubleshoot-cli-plugins.md
  versioned_docs/version-v2.11.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.11.x/user-guide/ze-provide-feedback-contribute.md
  versioned_docs/version-v2.12.x/getting-started/release-notes/v2_0_0.md
  versioned_docs/version-v2.12.x/troubleshoot/cli/troubleshoot-cli-plugins.md
  versioned_docs/version-v2.12.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.12.x/user-guide/ze-provide-feedback-contribute.md
  versioned_docs/version-v2.13.x/troubleshoot/cli/troubleshoot-cli-plugins.md
  versioned_docs/version-v2.13.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.13.x/user-guide/ze-provide-feedback-contribute.md
  versioned_docs/version-v2.13.x/whats-new/release-notes/v2_0_0.md
  versioned_docs/version-v2.5.x/getting-started/release-notes/v2_0_0.md
  versioned_docs/version-v2.5.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.5.x/user-guide/ze-provide-feedback-contribute.md
  versioned_docs/version-v2.6.x/getting-started/release-notes/v2_0_0.md
  versioned_docs/version-v2.6.x/troubleshoot/cli/troubleshoot-cli-plugins.md
  versioned_docs/version-v2.6.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.6.x/user-guide/ze-provide-feedback-contribute.md
  versioned_docs/version-v2.7.x/getting-started/release-notes/v2_0_0.md
  versioned_docs/version-v2.7.x/troubleshoot/cli/troubleshoot-cli-plugins.md
  versioned_docs/version-v2.7.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.7.x/user-guide/ze-provide-feedback-contribute.md
  versioned_docs/version-v2.8.x/getting-started/release-notes/v2_0_0.md
  versioned_docs/version-v2.8.x/troubleshoot/cli/troubleshoot-cli-plugins.md
  versioned_docs/version-v2.8.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.8.x/user-guide/ze-provide-feedback-contribute.md
  versioned_docs/version-v2.9.x/getting-started/release-notes/v2_0_0.md
  versioned_docs/version-v2.9.x/troubleshoot/cli/troubleshoot-cli-plugins.md
  versioned_docs/version-v2.9.x/user-guide/ze-install-zowe-explorer-cics-ext.md
  versioned_docs/version-v2.9.x/user-guide/ze-provide-feedback-contribute.md
Labels: area: cli, area: zowe-explorer, release: V2, review: doc

#3479 updating daemon mode examples
  docs/user-guide/cli-using-using-daemon-mode.md
Labels: area: cli, release: V3, review: sme

#3483 minor edits post merge of PR3469
  docs/appendix/zowe-glossary.md
  docs/user-guide/cli-using-integrating-apiml.md
Labels: area: cli, release: V2
