Repository zowe/docs-site, pull requests merged in 2025-01, with the labels that each got.

#4043 cherry pick from zowe/refactor-troubleshoot-cgw
  docs/extend/extend-apiml/zowe-api-mediation-layer-security-overview.md
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
  docs/user-guide/api-mediation/api-mediation-multi-tenancy.md
  docs/user-guide/api-mediation/configuration-multi-tenancy-routing.md
  docs/user-guide/api-mediation/diagrams/multi-domain_architecture_V3.svg
  docs/whats-new/zowe-v3-frequently-asked-questions.md
  docs/whats-new/zowe-v3-office-hours.md
  versioned_docs/version-v2.18.x/whats-new/zowe-v3-frequently-asked-questions.md
Labels: area: apiml, release: V3, review: doc

#4047 Fix Netlify deploy for Dependabot PRs
  .github/workflows/build-docs.yml
Labels: area: site-infrastructure, release: V3, review: sme

#4049 fix link syntax to include .md file type
  docs/getting-started/user-roadmap-apiml.md
  docs/user-guide/api-mediation-sso.md
  docs/user-guide/api-mediation/api-mediation-caching-service.md
  docs/user-guide/api-mediation/routing-requests-to-rest-apis.md
  docs/user-guide/api-mediation/use-graphql-api.md
  docs/user-guide/api-mediation/using-api-mediation-layer.md
  docs/user-guide/authenticating-with-jwt-token.md
  docs/user-guide/obtaining-information-about-api-services.md
  versioned_docs/version-v2.17.x/getting-started/user-roadmap-apiml.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/api-mediation-caching-service.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/routing-requests-to-rest-apis.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/use-graphql-api.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/using-api-mediation-layer.md
  versioned_docs/version-v2.17.x/user-guide/obtaining-information-about-api-services.md
  versioned_docs/version-v2.18.x/getting-started/user-roadmap-apiml.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation-sso.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/api-mediation-caching-service.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/routing-requests-to-rest-apis.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/use-graphql-api.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/using-api-mediation-layer.md
  versioned_docs/version-v2.18.x/user-guide/authenticating-with-jwt-token.md
  versioned_docs/version-v2.18.x/user-guide/obtaining-information-about-api-services.md
Labels: area: apiml, release: V2, release: V3, review: doc

#4042 fix SAF resource provider doc
  docs/user-guide/api-mediation/configuration-saf-resource-checking.md
Labels: area: apiml, release: V3, review: doc, review: sme

#4059 updating doc on Db2 plug-in sw reqs, Rosetta
  docs/user-guide/_cli-db2-install-m1.md
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-swreqplugins.md
  sidebars.js
  versioned_docs/version-v2.15.x/user-guide/cli-swreqplugins.md
  versioned_docs/version-v2.16.x/user-guide/cli-swreqplugins.md
  versioned_docs/version-v2.17.x/user-guide/cli-swreqplugins.md
  versioned_docs/version-v2.18.x/user-guide/cli-swreqplugins.md
Labels: area: cli, release: V2, release: V3, review: sme

#4058 adding troubleshoot scenario
  docs/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  sidebars.js
  versioned_docs/_version-v2.14.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.15.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.16.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.17.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.18.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
Labels: area: cli, release: V2, release: V3, review: sme

#4066 minor edit to cli db2 doc
  docs/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.15.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.16.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.17.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.18.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
Labels: area: cli, release: V2, release: V3

#4067 Anax v3.1 syncbranches doc
  docs/getting-started/user-roadmap-apiml.md
  docs/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  docs/user-guide/api-mediation-sso.md
  docs/user-guide/api-mediation/api-mediation-caching-service.md
  docs/user-guide/api-mediation/routing-requests-to-rest-apis.md
  docs/user-guide/api-mediation/use-graphql-api.md
  docs/user-guide/api-mediation/using-api-mediation-layer.md
  docs/user-guide/authenticating-with-jwt-token.md
  docs/user-guide/cli-db2plugin.md
  docs/user-guide/cli-using-usingcli.md
  docs/user-guide/obtaining-information-about-api-services.md
  sidebars.js
  versioned_docs/_version-v2.14.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.15.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.16.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.17.x/getting-started/user-roadmap-apiml.md
  versioned_docs/version-v2.17.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/api-mediation-caching-service.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/routing-requests-to-rest-apis.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/use-graphql-api.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/using-api-mediation-layer.md
  versioned_docs/version-v2.17.x/user-guide/obtaining-information-about-api-services.md
  versioned_docs/version-v2.18.x/getting-started/user-roadmap-apiml.md
  versioned_docs/version-v2.18.x/troubleshoot/cli/troubleshoot-ibm-db2-database-plug-in.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation-sso.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/api-mediation-caching-service.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/routing-requests-to-rest-apis.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/use-graphql-api.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/using-api-mediation-layer.md
  versioned_docs/version-v2.18.x/user-guide/authenticating-with-jwt-token.md
  versioned_docs/version-v2.18.x/user-guide/obtaining-information-about-api-services.md
Labels: area: docs, release: V3

#4069 bumping to 3.1 release
  docs/whats-new/release-notes/v3_1_0.md
  docusaurus.config.js
  sidebars.js
  tpsr/tpsr-v3.1.x.md
Labels: area: docs, release: V3

#4060 Update zowe-high-availability.md
  docs/getting-started/zowe-high-availability.md
Labels: review: doc

#4071 adding CLI release notes
  docs/whats-new/release-notes/v3_1_0.md
Labels: area: docs, area: cli, release: V3, review: sme

#4073 Update Github upload action
  .github/workflows/report-least-recent-modified-files.yml
Labels: review: doc

#4076 Add features and bug fixes for 3.1 and additions in 3.0
  docs/whats-new/release-notes/v3_0_0.md
  docs/whats-new/release-notes/v3_1_0.md
Labels: area: apiml, release: V3, review: sme

#4077 Add 2 more bug fixes for API ML
  docs/whats-new/release-notes/v3_1_0.md
Labels: area: apiml, release: V3

#4078 Fix headers/links/typos in api-mediation-sso-integration-extenders.md
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
Labels: area: apiml, release: V3, review: sme

#4080 Document Node 22 server support
  docs/appendix/zowe-yaml-configuration.md
  docs/user-guide/install-nodejs-zos.md
  docs/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.18.x/user-guide/install-nodejs-zos.md
  versioned_docs/version-v2.18.x/user-guide/systemrequirements-zos.md
Labels: type: enhancement, area: install and config, release: V2, release: V3, review: doc

#4081 Update install-zowe-zos-convenience-build.md
  docs/user-guide/install-zowe-zos-convenience-build.md
Labels: area: install and config, release: V3, review: doc

#4079 fix sso for extenders
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
  versioned_docs/version-v2.18.x/extend/extend-apiml/api-medation-sso-integration-extenders.md
Labels: area: apiml, release: V3, review: sme

#4083 initial draft of multiroot workspace project configuration
  docs/user-guide/ze-managing-profiles.md
  docs/user-guide/ze-usage-tips.md
  sidebars.js
Labels: area: zowe-explorer, release: V3, review: sme

#4098 Update v3_1_0.md with API ML additions
  docs/whats-new/release-notes/v3_1_0.md
Labels: area: apiml, release: V3, review: sme

#4105 Update minimum z/OSMF version required
  docs/user-guide/install-zowe-pswi.md
Labels: area: install and config, release: V3, review: doc

#4106 Correct the property used
  docs/user-guide/authentication-providers-for-apiml.md
Labels: area: apiml, release: V3, review: doc

#4107 Update troubleshoot-zos-startup.md
  docs/troubleshoot/troubleshoot-zos-startup.md
Labels: area: apiml, release: V3, review: doc
