Repository zowe/docs-site, pull requests merged in 2025-04, with the labels that each got.

#4252 March_24_Repairing_broken_links_in_Extend_section
  docs/extend/extend-cli/cli-developing-a-plugin.md
  docs/extend/extend-cli/cli-setting-up.md
  docs/extend/extend-desktop/mvd-plugindefandstruct.md
  docs/extend/extend-desktop/mvd-uribroker.md
Labels: type: bug, area: docs, area: misc, for-review, release: V3, review: doc

#4033 Update certificate-configuration-scenarios.md
  docs/user-guide/certificate-configuration-scenarios.md
Labels: release: V3, review: doc, review: sme, area: Zowe App Framework

#4268 Fix typo in TSO command.
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V3, review: doc

#4269 Use Google Drive links for conformance
  docs/extend/extend-cli/cli-setting-up.md
  docs/extend/extend-desktop/mvd-uribroker.md
  docs/whats-new/zowe-v3-conformance-criteria.md
Labels: area: apiml, release: V3, review: doc

#4272 release notes, tpsrs
  docs/whats-new/release-notes/v2_18_2.md
  sidebars.js
  tpsr/tpsr-v2.18.2.md
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_2.md
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: docs, release: V2

#4273 Docs staging
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
  docs/extend/extend-apiml/custom-metadata.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/user-guide/address-network-requirements.md
  docs/whats-new/release-notes/v2_18_1.md
  docs/whats-new/release-notes/v2_18_2.md
  sidebars.js
  tpsr/tpsr-v2.18.1.md
  tpsr/tpsr-v2.18.2.md
  versioned_docs/version-v2.18.x/extend/extend-apiml/onboard-plain-java-enabler.md
  versioned_docs/version-v2.18.x/extend/extend-apiml/onboard-spring-boot-enabler.md
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_2.md
  versioned_docs/version-v3.0.x/extend/extend-apiml/api-mediation-infinispan.md
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: docs, release: V2

#4275 April_2_Troubleshoot_UnderstZoweRelVersWordChange
  versioned_docs/_version-v2.13.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/_version-v2.14.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v2.15.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v2.16.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v2.17.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v2.18.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v3.0.x/troubleshoot/troubleshoot-zowe-release.md
Labels: area: docs, area: misc, for-review, priority-low, release: V1, release: V2, release: V3, review: doc, review: sme, Size: S

#4280 Anax v3.1.1 syncbranches docs
  versioned_docs/_version-v2.13.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/_version-v2.14.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v2.15.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v2.16.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v2.17.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v2.18.x/troubleshoot/troubleshoot-zowe-release.md
  versioned_docs/version-v3.0.x/troubleshoot/troubleshoot-zowe-release.md
Labels: area: docs, release: V3

#4285 Typo: update launcher-error-codes.md
  docs/troubleshoot/launcher/launcher-error-codes.md
Labels: area: install and config, release: V3, review: doc

#4281 Anax v3.1.1 r ns tpsrs docs
  docs/whats-new/release-notes/v3_1_1.md
  sidebars.js
  tpsr/tpsr-v3.1.1.md
Labels: area: docs, release: V3

#4283 Remove JWT as requirement for z/OSMF
  docs/whats-new/zowe-v3-migration.md
Labels: area: apiml, release: V3, review: doc

#4288 Add .md to the correct link
  docs/troubleshoot/ze/troubleshoot-ze.md
Labels: area: zowe-explorer, release: V3, review: doc

#4254 Update API ML Routing section in Extending
  docs/extend/extend-apiml/api-mediation-versioning.md
  docs/extend/extend-apiml/api-mediation-websockets.md
  docs/extend/extend-apiml/implementing-routing-to-the-api-gateway.md
  sidebars.js
Labels: area: apiml, release: V3, review: sme

#4276 reorder table and topics to group required config for API ML
  docs/user-guide/api-mediation/configuration-client-certificates.md
  docs/user-guide/authenticating-with-client-certificates.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/configuration-client-certificates.md
  versioned_docs/version-v2.18.x/user-guide/authenticating-with-client-certificates.md
  versioned_docs/version-v2.18.x/user-guide/configure-zos-system.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#4291 Minor AT-TLS example rules correction
  docs/user-guide/configuring-at-tls-for-zowe-server.md
Labels: area: docs, release: V3, review: doc

#4292 Launcher ZWEL messages update
  docs/troubleshoot/launcher/launcher-error-codes.md
  docs/user-guide/configure-xmem-server.md
Labels: area: install and config, release: V3, review: doc

#4298 Add zosmf apiml workflows to sidebar for 2.18
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: apiml, release: V2, review: doc

#4295 Update What's new 3.1.0
  docs/whats-new/release-notes/v3_1_0.md
Labels: area: docs, release: V3, review: doc

#4294 To resolve the issue of manual DCO-Sign-Off
  dco_signoffs/Aroosh-Lele-docs-site.txt
Labels: area: misc, release: V3, review: doc

#4302 readd apiml new features and bug fixes for 2.18.1
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_1.md
Labels: area: apiml, release: V2, review: doc

#4305 Update install-zos.md
  docs/user-guide/install-zos.md
Labels: area: install and config, release: V3, review: doc

#4306 Propagate improvements from v2.18 into v3.0 and v3.1
  docs/user-guide/configure-zos-system.md
  versioned_docs/version-v2.18.x/user-guide/configure-zos-system.md
  versioned_docs/version-v3.0.x/user-guide/configure-zos-system.md
Labels: area: install and config, release: V2, release: V3, review: doc

#4242 adding doc re: base paths
  docs/extend/extend-cli/cli-authentication-mechanisms.md
  docs/user-guide/cli-ftpplugin.md
  docs/user-guide/cli-using-integrating-apiml.md
Labels: area: cli, release: V3, review: sme

#4307 Server datasets - sizes and missing members
  docs/appendix/server-datasets.md
Labels: area: install and config, release: V3, review: doc

#4299 TCP IP setting: better explanation of example
  docs/user-guide/address-network-requirements.md
Labels: area: install and config, release: V2, release: V3, review: doc

#4313 Updated the configure-caching-service-ha.md file
  docs/user-guide/configure-caching-service-ha.md
Labels: area: misc, priority-medium, release: V3, review: doc

#4315 Added syntax in files to prevent broken links in Troubleshooting section
  docs/troubleshoot/app-framework/app-return-codes.md
  docs/troubleshoot/app-framework/app-troubleshoot.md
  docs/troubleshoot/app-framework/appfw-tracing.md
  docs/troubleshoot/app-framework/appserver-error-codes.md
  docs/troubleshoot/cli/troubleshoot-cli.md
  docs/troubleshoot/cli/use-individual-troubleshoot-commands.md
  docs/troubleshoot/servers/must-gather.md
  docs/troubleshoot/servers/return-codes.md
  docs/troubleshoot/troubleshoot-apiml.md
  docs/troubleshoot/ze/troubleshoot-ze.md
Labels: type: bug, area: docs, area: misc, type: troubleshoot, priority-medium, release: V3, review: doc, Size: M

#4325 changing "the API ML" to "API ML" where appropriate to follow site style
  docs/appendix/zowe-glossary.md
  docs/appendix/zowe-yaml-configuration.md
  docs/contribute/contributing.md
  docs/extend/extend-cli/cli-authentication-mechanisms.md
  docs/getting-started/zowe-certificates-overview.md
  docs/getting-started/zowe-security-authentication.md
  docs/getting-started/zowe_faq.md
  docs/troubleshoot/ze/known-ze.md
  docs/user-guide/_cli-using-creating-global-team-profiles.md
  docs/user-guide/_cli-using-team-configuration-team-leaders.md
  docs/user-guide/api-mediation-sso.md
  docs/user-guide/cli-using-creating-profiles.md
  docs/user-guide/cli-using-initializing-team-configuration.md
  docs/user-guide/cli-using-integrating-apiml.md
  docs/user-guide/installandconfig.md
  docs/user-guide/obtaining-information-about-api-services.md
  docs/user-guide/ze-profiles.md
  docs/whats-new/release-notes/v1_25.md
  docs/whats-new/release-notes/v2_7_0.md
  docs/whats-new/zowe-v3-frequently-asked-questions.md
Labels: area: docs, release: V3

#4328 adding placeholders for v3.2 doc
  docs/whats-new/release-notes/v3_2_0.md
  docusaurus.config.js
  sidebars.js
  tpsr/tpsr-v3.2.x.md
Labels: area: docs, release: V3

#4329 Minor edit to Announcements page; fixing syntax
  docs/user-guide/configure-caching-service-ha.md
  docs/whats-new/zowe-announcements.md
  versioned_docs/version-v2.15.x/user-guide/cli-configuringcli-ev.md
  versioned_docs/version-v2.16.x/user-guide/cli-configuringcli-ev.md
  versioned_docs/version-v2.17.x/user-guide/cli-configuringcli-ev.md
  versioned_docs/version-v2.18.x/user-guide/cli-configuringcli-ev.md
  versioned_docs/version-v2.18.x/user-guide/configure-caching-service-ha.md
  versioned_docs/version-v3.0.x/user-guide/configure-caching-service-ha.md
Labels: area: docs, release: V3

#4335 Typo: mvd-mvdandwindowmgt.md
  docs/extend/extend-desktop/mvd-mvdandwindowmgt.md
Labels: area: webui, release: V2, release: V3, review: doc

#4334 Add roles and improve style consistency between onboarding guides
  docs/extend/extend-apiml/libraries-for-onboarding-apis.md
  docs/extend/extend-apiml/onboard-micronaut-enabler.md
  docs/extend/extend-apiml/onboard-nodejs-enabler.md
  docs/extend/extend-apiml/onboard-overview.md
  docs/extend/extend-apiml/onboard-plain-java-enabler-external-configuration.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/extend/extend-apiml/onboard-static-definition.md
  docs/extend/extend-apiml/optional-features-to-use-with-onboarded-apis.md
  docs/extend/extend-apiml/zowe-api-mediation-layer-security-overview.md
  sidebars.js
Labels: area: apiml, release: V3, review: sme

#4338 Clarify node.js requirement
  docs/user-guide/systemrequirements-zos.md
Labels: area: install and config, release: V3, review: sme

#4310 Document Onboarding Python Enabler for API ML
  docs/extend/extend-apiml/onboard-direct-eureka-call.md
  docs/extend/extend-apiml/onboard-nodejs-enabler.md
  docs/extend/extend-apiml/onboard-overview.md
  docs/extend/extend-apiml/onboard-plain-java-enabler-external-configuration.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-python-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/extend/extend-apiml/onboard-static-definition.md
  docs/getting-started/overview.md
  sidebars.js
Labels: area: onboarding, area: apiml, release: V3, review: doc
