Repository zowe/docs-site, pull requests merged in 2025-07, with the labels that each got.

#4576 fixing link syntax in version banner message
  src/theme/DocVersionBanner/index.js
Labels: area: docs, release: V3

#4579 Launcher troubleshoot - minor changes
  docs/troubleshoot/launcher/launcher-troubleshoot.md
Labels: area: install and config, release: V2, release: V3, review: doc

#4581 Fix the URLs in the documentation
  docs/user-guide/authenticating-with-jwt-token.md
Labels: area: apiml, release: V3, review: doc

#4544 Simplify AT-TLS page
  docs/user-guide/configuring-at-tls-for-zowe-server.md
Labels: area: docs, area: apiml, area: install and config, release: V3, review: doc, review: sme, area: Zowe App Framework

#4540 update API ML features and bug fixes for 2.18.2
  docs/whats-new/release-notes/v2_18_2.md
Labels: area: apiml, release: V2, review: sme

#4593 Fix PDF Generation & Add PDF Workflow
  .github/workflows/generate-pdf.yml
  custom-modules/docs-to-pdf/.eslintignore
  custom-modules/docs-to-pdf/.eslintrc.json
  custom-modules/docs-to-pdf/.gitignore
  custom-modules/docs-to-pdf/.npmignore
  custom-modules/docs-to-pdf/.prettierrc
  custom-modules/docs-to-pdf/CHANGELOG.md
  custom-modules/docs-to-pdf/LICENSE
  custom-modules/docs-to-pdf/README.md
  custom-modules/docs-to-pdf/docs-to-pdf-v0.6.3.tgz
  custom-modules/docs-to-pdf/jest.config.ts
  custom-modules/docs-to-pdf/package-lock.json
  custom-modules/docs-to-pdf/package.json
  custom-modules/docs-to-pdf/src/browser.ts
  custom-modules/docs-to-pdf/src/cli.ts
  custom-modules/docs-to-pdf/src/commander-options.ts
  custom-modules/docs-to-pdf/src/utils.ts
  custom-modules/docs-to-pdf/tests/browser.spec.ts
  custom-modules/docs-to-pdf/tests/utils.spec.ts
  custom-modules/docs-to-pdf/tests/utils_jsdom.spec.ts
  custom-modules/docs-to-pdf/tsconfig.json
  package-lock.json
  package.json
Labels: area: site-infrastructure, release: V3, review: doc, review: sme

#4592 Fix link and improve headers in Configuring AT-TLS for Zowe server
  docs/user-guide/configuring-at-tls-for-zowe-server.md
Labels: area: apiml, release: V3, review: doc, area: Zowe App Framework

#4595 fix error Re: ZWESIUSR which is not a group command
  docs/user-guide/configure-zos-system.md
  versioned_docs/version-v2.18.x/user-guide/configure-zos-system.md
  versioned_docs/version-v3.0.x/user-guide/configure-zos-system.md
  versioned_docs/version-v3.1.x/user-guide/configure-zos-system.md
Labels: release: V2, release: V3, review: sme, area: Zowe App Framework

#4596 Remove duplicate mvd-server-config entry to fix PDF generation
  versioned_sidebars/version-v3.0.x-sidebars.json
Labels: area: docs, release: V3, review: doc

#4597 sidebar fix
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: docs, release: V2

#4604 remove apiml release notes for 2.18.2
  docs/whats-new/release-notes/v2_18_2.md
Labels: area: apiml, release: V2, review: sme

#4603 Updates Zowe 2.18.2 release notes for APIML
  docs/whats-new/release-notes/v2_18_2.md
Labels: area: apiml, release: V2, review: doc

#4600 Update PDF generation workflow and docs-to-pdf
  .github/workflows/generate-pdf.yml
  custom-modules/docs-to-pdf/docs-to-pdf-v0.6.4.tgz
  custom-modules/docs-to-pdf/package-lock.json
  custom-modules/docs-to-pdf/package.json
  custom-modules/docs-to-pdf/src/utils.ts
  custom-modules/docs-to-pdf/tsconfig.json
  docusaurus.config.js
  package-lock.json
  package.json
Labels: area: site-infrastructure, release: V3, review: doc, review: sme

#4598 updating date, adding ZE entries
  docs/whats-new/release-notes/v2_18_2.md
Labels: area: docs, release: V2

#4618 remove apiml.security.forwardHeader.trustedProxies in v3.2
  docs/appendix/zowe-yaml-configuration.md
Labels: area: apiml, release: V3, review: sme

#4616 update 2.18.2 release notes to july
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_2.md
Labels: area: docs, review: doc

#4624 update release notes to call out z/os 3.2 support
  docs/whats-new/release-notes/v2_18_2.md
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_2.md
Labels: area: misc, area: install and config, release: V2, review: doc, Size: S

#4615 authOrder property doc - first draft
  docs/extend/extend-cli/cli-authentication-mechanisms.md
  docs/user-guide/cli-authentication-methods.md
  docs/user-guide/ze-authentication-methods.md
Labels: area: docs, release: V3, review: sme

#4622 Update v3_0_0.md
  docs/user-guide/ze-authentication-methods.md
  docs/whats-new/release-notes/v3_0_0.md
Labels: area: apiml, release: V3, review: doc

#4630 Updated v2_18_2.md
  docs/whats-new/release-notes/v2_18_2.md
Labels: area: docs, area: misc, priority-medium, release: V2, review: sme

#4636 fixing broken admonitions
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/user-guide/cli-installcli copy.md
  docs/user-guide/ze-create-zowe-explorer-cics-ext-profiles.md
  docs/user-guide/ze-use-cics-resources.md
  docs/user-guide/zowe-chat/chat_prerequisite_slack_http_endpoint.md
  versioned_docs/version-v2.18.x/user-guide/ze-create-zowe-explorer-cics-ext-profiles.md
  versioned_docs/version-v2.18.x/user-guide/ze-use-cics-resources.md
  versioned_docs/version-v2.18.x/user-guide/zowe-chat/chat_prerequisite_slack_http_endpoint.md
  versioned_docs/version-v3.0.x/extend/extend-apiml/onboard-plain-java-enabler.md
  versioned_docs/version-v3.0.x/user-guide/ze-create-zowe-explorer-cics-ext-profiles.md
  versioned_docs/version-v3.0.x/user-guide/ze-use-cics-resources.md
  versioned_docs/version-v3.0.x/user-guide/zowe-chat/chat_prerequisite_slack_http_endpoint.md
  versioned_docs/version-v3.1.x/extend/extend-apiml/onboard-plain-java-enabler.md
  versioned_docs/version-v3.1.x/user-guide/ze-create-zowe-explorer-cics-ext-profiles.md
  versioned_docs/version-v3.1.x/user-guide/ze-use-cics-resources.md
  versioned_docs/version-v3.1.x/user-guide/zowe-chat/chat_prerequisite_slack_http_endpoint.md
Labels: area: docs, release: V2, release: V3
