Repository zowe/docs-site, pull requests merged in 2025-08, with the labels that each got.

#4640 correcting basePath names
  docs/user-guide/cli-using-creating-profiles.md
Labels: area: docs, area: cli, review: sme

#4633 Documenting the ZE table view
  docs/user-guide/ze-table-view-guide.md
  sidebars.js
Labels: area: zowe-explorer, release: V3, review: sme

#4647 apiml - add PATCH to the CORS allowed HTTP methods
  docs/user-guide/api-mediation/configuration-cors.md
Labels: area: apiml, release: V3, review: doc

#4643 jobs table view doc
  docs/troubleshoot/ze/troubleshoot-ze.md
  docs/user-guide/ze-data-set-table-view-guide.md
  docs/user-guide/ze-jobs-table-view-guide.md
  sidebars.js
Labels: area: zowe-explorer, release: V3, review: sme

#4646 `systemrequirements-zos.md`: SDSF is required for `zwe init apfauth`
  docs/user-guide/systemrequirements-zos.md
Labels: area: install and config, release: V2, release: V3, review: doc

#4661 `systemrequirements-zos.md`: SDSF is required for `zwe init security | vsam`
  docs/user-guide/systemrequirements-zos.md
Labels: area: install and config, release: V3, review: doc

#4645 `server-datasets.md`: missing members
  docs/appendix/server-datasets.md
Labels: area: install and config, release: V3, review: doc

#4670 Revert data sets for v3.2
  docs/appendix/server-datasets.md
  docs/user-guide/configuring-zowe-via-jcl.md
  docs/user-guide/initialize-mvs-datasets.md
  docs/user-guide/install-zowe-smpe-overview.md
  docs/user-guide/ze-authentication-methods.md
Labels: area: docs, release: V3, review: sme

#4671 add ZWERMVS, ZWERMVS1, and ZWERMVS2
  docs/appendix/server-datasets.md
Labels: release: V3, review: sme

#4678 bumping version, adding release notes, tpsr placeholders
  docs/whats-new/release-notes/v3_3_0.md
  docusaurus.config.js
  sidebars.js
  tpsr/tpsr-v3.3.x.md
Labels: area: docs, release: V3

#4669 API ML: Adding info about APIML_ATTLS_LOAD_KEYRING
  docs/user-guide/configuring-at-tls-for-zowe-server.md
Labels: area: apiml, release: V3, review: doc
