Repository zowe/docs-site, pull requests merged in 2025-02, with the labels that each got.

#4110 fix: look for typedoc ending in .zip
  scripts/updateTypedoc.sh
Labels: area: docs, release: V3, review: doc

#4125 Change from milibits to MegaBytes
  docs/user-guide/systemrequirements-zos.md
Labels: area: install and config, release: V3, review: doc

#4137 Minor edits to 3.1 release notes
  docs/whats-new/release-notes/v3_0_0.md
  docs/whats-new/release-notes/v3_1_0.md
Labels: area: docs, release: V3

#4138 adding tprs; fixing redirect links in 3.0 RNs
  docs/whats-new/release-notes/v3_0_0.md
  tpsr/tpsr-v3.1.x.md
Labels: area: docs, release: V3

#4128 Remove refs to Convenience build only in zwe-install and configure-zowe-zosmf-workflow
  docs/appendix/zwe_server_command_reference/zwe/zwe-install.md
  docs/user-guide/configure-zowe-zosmf-workflow.md
Labels: area: install and config, release: V3, review: sme

#4154 fixing sidebar links to release notes
  sidebars.js
Labels: area: docs, release: V3

#4100 Fix ESM command to highlight what should be replaced
  docs/user-guide/api-mediation/configuration-extender-passtickets.md
  versioned_docs/version-v2.17.x/user-guide/api-mediation/configuration-extender-passtickets.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/configuration-extender-passtickets.md
  versioned_docs/version-v3.0.x/user-guide/api-mediation/configuration-extender-passtickets.md
Labels: area: apiml, area: install and config, release: V2, release: V3, review: doc, review: sme

#4155 deleting duplicate entry in sidebar
  sidebars.js
Labels: area: docs, release: V3

#4164 changes to issue templates, zowe style guide
  .github/ISSUE_TEMPLATE/---doc-site-banner-request.md
  .github/ISSUE_TEMPLATE/troubleshooting-tip.md
  docs/contribute/contributing.md
Labels: area: docs, release: V3

#4166 chore: add x509 client certificate forwarding
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
Labels: area: apiml, release: V3, review: doc

#4168 updating V1.28 alert message
  src/theme/DocVersionBanner/index.js
Labels: area: docs, release: V3

#4082 fix: update z/osmf setting update to work with apiml
  docs/user-guide/api-mediation/using-multi-factor-authentication.md
  docs/user-guide/systemrequirements-zosmf.md
Labels: area: apiml, area: install and config, release: V2, release: V3, review: doc, review: sme

#4167 Edit ZE pages for new default sort order settings
  docs/images/ze/ZE-default-ds-quick-pick.png
  docs/images/ze/ZE-default-ds-sort-setting.png
  docs/images/ze/ZE-default-job-quick-pick.png
  docs/images/ze/ZE-default-job-sort-setting.png
  docs/user-guide/ze-install-configuring-ze.md
  docs/user-guide/ze-use-cases.md
  docs/user-guide/ze-working-with-data-sets.md
  docs/user-guide/ze-working-with-jobs.md
Labels: area: zowe-explorer, release: V3, review: doc

#4148 Update wto-message-on-startup.md
  docs/user-guide/api-mediation/wto-message-on-startup.md
Labels: area: zos-install-upgrade, release: V3, review: doc

#4183 Anax v3.0 profiletypes cli
  docs/user-guide/cli-using-editing-team-configuration.md
Labels: area: cli, release: V3, review: sme

#4185 adding note re: zowe config list command to env variable
  docs/user-guide/cli-configuringcli-ev.md
Labels: area: cli, release: V3, review: sme

#4189 Update client cert sample doc
  docs/user-guide/authenticating-with-client-certificates.md
Labels: area: apiml, release: V3, review: doc

#4196 Add forgotten breaking change
  docs/whats-new/release-notes/v3_0_0.md
Labels: area: apiml, release: V3, review: doc

#4199 fix: Modify npm dependency cmd in onboard-nodejs-enabler.md
  docs/extend/extend-apiml/onboard-nodejs-enabler.md
Labels: area: apiml, release: V3, review: doc

#4194 Update systemrequirements-zos.md for node requirements
  docs/user-guide/systemrequirements-zos.md
Labels: area: install and config, release: V3, review: doc

#4201 Remove duplicared article `Configure multi-user address space`
  docs/user-guide/configure-zos-system.md
  versioned_docs/version-v2.18.x/user-guide/configure-zos-system.md
  versioned_docs/version-v3.0.x/user-guide/configure-zos-system.md
Labels: area: apiml, release: V2, release: V3, review: doc

#4203 fix jwt refs in v3.1 v3.0 and v2.18
  docs/extend/extend-apiml/api-medation-sso-integration-extenders.md
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/getting-started/zowe-security-authentication.md
  docs/user-guide/api-mediation/api-mediation-jwt-token-refresh.md
  docs/user-guide/api-mediation/configuration-extender-jwt.md
  docs/user-guide/api-mediation/configuration-jwt.md
  docs/user-guide/authenticating-with-jwt-token.md
  versioned_docs/version-v2.18.x/extend/extend-apiml/api-medation-sso-integration-extenders.md
  versioned_docs/version-v2.18.x/getting-started/zowe-security-authentication.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/configuration-extender-jwt.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/configuration-jwt.md
  versioned_docs/version-v3.0.x/extend/extend-apiml/api-medation-sso-integration-extenders.md
  versioned_docs/version-v3.0.x/getting-started/zowe-security-authentication.md
  versioned_docs/version-v3.0.x/user-guide/api-mediation/configuration-extender-jwt.md
  versioned_docs/version-v3.0.x/user-guide/api-mediation/configuration-jwt.md
Labels: area: apiml, release: V2, release: V3, review: doc

#4205 remove configure-apiml-zosmf-workflow-2-18 from 2-18 sidebar
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: install and config, release: V2, review: sme

#4200 Updating doc for multiple api gateways
  docs/user-guide/cli-using-creating-profiles.md
Labels: area: zowe-explorer, release: V3, review: sme
