Repository zowe/docs-site, pull requests merged in 2025-03, with the labels that each got.

#4204 add additional bugfixes to API ML release notes v2.18
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_0.md
Labels: area: apiml, release: V2, review: sme

#4207 fix formatting for workaround in configuration-jwt
  docs/user-guide/api-mediation/configuration-jwt.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/configuration-jwt.md
  versioned_docs/version-v3.0.x/user-guide/api-mediation/configuration-jwt.md
Labels: area: apiml, release: V3, review: doc

#4209 Fix AT-TLS rules example
  docs/user-guide/configuring-at-tls-for-zowe-server.md
Labels: area: apiml, release: V3, review: doc

#4211 fixing broken links
  docs/contribute/contributing.md
  docs/user-guide/cli-install-verify-your-installation.md
Labels: area: cli, release: V3

#4147 Create appendix for list of zowe's datasets
  docs/appendix/server-datasets.md
  docs/user-guide/address-storage-requirements.md
  docs/user-guide/initialize-mvs-datasets.md
  docs/user-guide/install-zowe-smpe-overview.md
  docs/user-guide/install-zowe-zos-convenience-build.md
  sidebars.js
  versioned_docs/version-v2.15.x/appendix/server-datasets.md
  versioned_docs/version-v2.15.x/user-guide/address-storage-requirements.md
  versioned_docs/version-v2.15.x/user-guide/initialize-mvs-datasets.md
  versioned_docs/version-v2.15.x/user-guide/install-zowe-smpe-overview.md
  versioned_docs/version-v2.15.x/user-guide/install-zowe-zos-convenience-build.md
  versioned_docs/version-v2.16.x/appendix/server-datasets.md
  versioned_docs/version-v2.16.x/user-guide/address-storage-requirements.md
  versioned_docs/version-v2.16.x/user-guide/initialize-mvs-datasets.md
  versioned_docs/version-v2.16.x/user-guide/install-zowe-smpe-overview.md
  versioned_docs/version-v2.16.x/user-guide/install-zowe-zos-convenience-build.md
  versioned_docs/version-v2.17.x/appendix/server-datasets.md
  versioned_docs/version-v2.17.x/user-guide/address-storage-requirements.md
  versioned_docs/version-v2.17.x/user-guide/initialize-mvs-datasets.md
  versioned_docs/version-v2.17.x/user-guide/install-zowe-smpe-overview.md
  versioned_docs/version-v2.17.x/user-guide/install-zowe-zos-convenience-build.md
  versioned_docs/version-v2.18.x/appendix/server-datasets.md
  versioned_docs/version-v2.18.x/user-guide/address-storage-requirements.md
  versioned_docs/version-v2.18.x/user-guide/initialize-mvs-datasets.md
  versioned_docs/version-v2.18.x/user-guide/install-zowe-smpe-overview.md
  versioned_docs/version-v2.18.x/user-guide/install-zowe-zos-convenience-build.md
  versioned_docs/version-v3.0.x/appendix/server-datasets.md
  versioned_docs/version-v3.0.x/user-guide/address-storage-requirements.md
  versioned_docs/version-v3.0.x/user-guide/initialize-mvs-datasets.md
  versioned_docs/version-v3.0.x/user-guide/install-zowe-smpe-overview.md
  versioned_docs/version-v3.0.x/user-guide/install-zowe-zos-convenience-build.md
  versioned_sidebars/version-v2.15.x-sidebars.json
  versioned_sidebars/version-v2.16.x-sidebars.json
  versioned_sidebars/version-v2.17.x-sidebars.json
  versioned_sidebars/version-v2.18.x-sidebars.json
  versioned_sidebars/version-v3.0.x-sidebars.json
Labels: type: enhancement, area: install and config, review: doc

#4221 fix link in using mfa
  docs/user-guide/api-mediation/using-multi-factor-authentication.md
  versioned_docs/version-v2.18.x/user-guide/api-mediation/using-multi-factor-authentication.md
  versioned_docs/version-v3.0.x/user-guide/api-mediation/using-multi-factor-authentication.md
Labels: area: apiml, release: V2, release: V3, review: doc

#4180 Updates in the Release Notes for Zowe Application Framework
  docs/whats-new/release-notes/v3_1_0.md
Labels: release: V3, review: doc, review: sme, area: Zowe App Framework

#4224 removing V1 content
  src/pages/versions.js
  versions.json
  versionsArchived.json
Labels: area: docs, release: V3

#4232 Correct names and sizes for V3
  docs/user-guide/install-zowe-smpe-overview.md
  docs/user-guide/install-zowe-smpe.md
  versioned_docs/version-v3.0.x/user-guide/install-zowe-smpe-overview.md
  versioned_docs/version-v3.0.x/user-guide/install-zowe-smpe.md
Labels: area: install and config, release: V3, review: doc

#4135 Configure XMS: example update
  docs/user-guide/api-mediation/using-api-mediation-layer.md
  docs/user-guide/configure-xmem-server.md
Labels: area: apiml, area: install and config, release: V3, review: doc

#4239 Fix broken external links.
  docs/appendix/zowe-glossary.md
  docs/user-guide/061422_zOSMF_SM.pdf
  docs/user-guide/configure-apiml-zosmf-workflow.md
  docs/user-guide/configure-zowe-zosmf-workflow.md
  docs/whats-new/release-notes/v3_1_0.md
Labels: area: misc, release: V3, review: doc

#4236 Fix typo
  docs/user-guide/ze-managing-profiles.md
Labels: area: zowe-explorer, release: V3, review: doc

#4223 Repairing_Broken_Links_in_Whats_New_section
  versioned_docs/version-v3.0.x/whats-new/release-notes/v2_0_0.md
  versioned_docs/version-v3.0.x/whats-new/release-notes/v2_3_1.md
  versioned_docs/version-v3.0.x/whats-new/release-notes/v2_6_1.md
Labels: area: docs, area: misc, release: V2, review: doc

#4237 Add the step to the documentation.
  docs/user-guide/install-zowe-zos-convenience-build.md
Labels: area: install and config, release: V3, review: doc

#4238 Add TN3270 to sidebar
  sidebars.js
Labels: area: webui, release: V3, review: doc

#4072 Add Java 11 support in v2
  versioned_docs/version-v2.18.x/user-guide/systemrequirements-zos.md
Labels: area: apiml, area: install and config, release: V2, review: doc

#4241 6951_Update roadmap-contribute.md
  docs/contribute/roadmap-contribute.md
Labels: area: docs, area: misc, release: V3, review: doc

#4206 In the App-server Error Message Codes, the description of ZWED0003E is updated
  docs/troubleshoot/app-framework/appserver-error-codes.md
Labels: area: docs, type: troubleshoot, release: V3, review: sme, area: Zowe App Framework

#4243 Edited the description of ZWED0003E
  docs/troubleshoot/app-framework/appserver-error-codes.md
Labels: area: docs, type: troubleshoot, release: V3, review: doc, area: Zowe App Framework

#4244 Add link to the ZAAS
  docs/extend/extend-apiml/authentication-for-apiml-services.md
Labels: area: apiml, release: V3, review: doc

#4245 address issue 4192
  docs/user-guide/install-zowe-zos-convenience-build.md
  versioned_docs/version-v2.18.x/user-guide/install-zowe-zos-convenience-build.md
  versioned_docs/version-v3.0.x/user-guide/install-zowe-zos-convenience-build.md
Labels: area: install and config, release: V3, review: sme

#4248 Fix link in VSAM
  docs/extend/extend-apiml/api-mediation-vsam.md
  versioned_docs/version-v3.0.x/extend/extend-apiml/api-mediation-vsam.md
Labels: area: apiml, release: V3, review: doc

#4249 Add notes on how to restart service
  docs/troubleshoot/troubleshoot-apiml.md
  versioned_docs/version-v3.0.x/troubleshoot/troubleshoot-apiml.md
Labels: area: apiml, release: V3, review: doc

#4250 Clarify the process and the differences with different authentication…
  docs/user-guide/api-mediation/api-mediation-update-password.md
Labels: area: apiml, release: V3, review: doc

#4259 adding back release notes for 2.18.1
  docs/whats-new/release-notes/v2_18_1.md
  sidebars.js
  tpsr/tpsr-v2.18.1
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_1.md
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: docs, release: V2

#4260 6968_Repairing_Broken_Links_Install_Section_Zowe_Docs
  docs/getting-started/install-ze-extensions.md
  docs/user-guide/ZE-install-checklist.md
  docs/user-guide/address-security-requirements.md
  docs/user-guide/api-mediation/configuration-cors.md
  docs/user-guide/api-mediation/configuration-customizing-the-api-catalog-ui.md
  docs/user-guide/assign-security-permissions-to-users.md
  docs/user-guide/cli-install-cli-checklist.md
  docs/user-guide/cli-using-initializing-team-configuration.md
  docs/user-guide/cli-using-using-daemon-mode.md
  docs/user-guide/configmgr-using.md
  docs/user-guide/configure-certificates.md
  docs/user-guide/configure-xmem-server.md
  docs/user-guide/configure-zowe-runtime.md
  docs/user-guide/configuring-security.md
  docs/user-guide/import-certificates.md
  docs/user-guide/install-zowe-pswi-address-requirements.md
  docs/user-guide/k8s-config.md
  docs/user-guide/mvd-configuration.md
  docs/user-guide/tls-configuration.md
  docs/user-guide/verify-zowe-runtime-install.md
  docs/user-guide/ze-profiles.md
  docs/user-guide/zos-components-installation-checklist.md
  docs/user-guide/zowe-chat/chat_prerequisite_mattermost_invite_team.md
  docs/user-guide/zowe-chat/chat_prerequisite_slack_configure_app.md
  docs/user-guide/zowe-chat/systemrequirements-chat.md
  docs/user-guide/zwe-init-subcommand-overview.md
  versioned_docs/version-v2.18.x/user-guide/k8s-config.md
  versioned_docs/version-v3.0.x/user-guide/configure-caching-service-ha.md
Labels: type: bug, status: review, area: misc, priority-medium, release: V3, review: doc, Size: M

#4256 6967_update_troubleshoot-zowe-release.md
  docs/troubleshoot/troubleshoot-zowe-release.md
Labels: area: docs, area: misc, type: troubleshoot, priority-medium, release: V3, review: doc, Size: S

#4262 Add API ML new features and bug fixes for v2.18.1
  docs/whats-new/release-notes/v2_18_1.md
Labels: area: apiml, release: V2, review: sme

#4263 update troubleshoot-apiml-error-codes.md for ZWEAS504
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
  versioned_docs/version-v2.18.x/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: apiml, release: V2, release: V3, review: doc
