Repository zowe/docs-site, pull requests merged in 2025-05, with the labels that each got.

#4337 Adding .zosattributes file doc
  docs/user-guide/using-a-zos-attributes-file.md
  sidebars.js
Labels: area: cli, area: zowe-explorer, release: V3, review: sme

#4289 Adding release notes for version 2.18.1
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_1.md
Labels: status: review, area: docs, release: V2, review: doc, review: sme, area: Zowe App Framework, priority-high

#4377 add notes and troubleshooting topic
  docs/troubleshoot/app-framework/app-troubleshoot.md
  docs/user-guide/authentication-providers-for-apiml.md
  docs/user-guide/mvd-using.md
Labels: area: install and config, release: V3, review: sme

#4382 Update Aroosh-Lele-docs-site.txt
  dco_signoffs/Aroosh-Lele-docs-site.txt
Labels: area: misc, priority-medium, release: V3, review: doc

#4395 `start-zowe-zos.md`: list components eligible for start and stop
  docs/user-guide/start-zowe-zos.md
Labels: area: install and config, release: V3, review: doc

#4393 Clarify location of zowe.config.json and zowe.config.user.json in glossary
  docs/appendix/zowe-glossary.md
Labels: area: cli, review: doc

#4408 adding V3.2 tpsrs
  tpsr/tpsr-v3.2.x.md
Labels: area: docs, release: V3

#4410 relocating auth methods doc to Zowe Docs
  docs/user-guide/cli-using-integrating-apiml.md
  docs/user-guide/ze-authentication-methods.md
  sidebars.js
Labels: area: zowe-explorer, release: V3, review: sme

#4409 Update "Configuring Zowe Explorer"
  docs/user-guide/ze-install-configuring-ze.md
Labels: area: zowe-explorer, release: V3, review: doc

#4417 removing V2 sys demo link
  docs/whats-new/release-notes/v3_2_0.md
Labels: type: bug, area: docs, release: V3

#4394 Address tester feedback (c_paice)
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/user-guide/api-mediation/configuration-client-certificates.md
  docs/user-guide/api-mediation/configuration-saf-resource-checking.md
  docs/user-guide/assign-security-permissions-to-users.md
  docs/user-guide/authenticating-with-client-certificates.md
Labels: wip: do not merge, area: install and config, release: V3, review: sme

#4433 ZE for VS Code: Add known limitation on PDS member pagination
  docs/troubleshoot/ze/ze-known-limits.md
Labels: area: zowe-explorer, release: V3, review: doc

#4436 add Python enabler to overview enabler topic
  docs/extend/extend-apiml/libraries-for-onboarding-apis.md
Labels: area: apiml, release: V3, review: sme

#4326 adding back lost V2.18 content
  docs/user-guide/install-zowe-server-install-wizard-1-0-0.md
  versioned_docs/version-v2.18.x/extend/zowe-conformance-program.md
  versioned_docs/version-v2.18.x/user-guide/address-storage-requirements.md
  versioned_docs/version-v2.18.x/user-guide/configuring-overview.md
  versioned_docs/version-v2.18.x/user-guide/configuring-security.md
  versioned_docs/version-v2.18.x/user-guide/configuring-zowe-via-jcl.md
  versioned_docs/version-v2.18.x/user-guide/initialize-zos-system.md
  versioned_docs/version-v2.18.x/user-guide/install-zowe-server-install-wizard.md
  versioned_docs/version-v2.18.x/user-guide/mvd-configuration.md
  versioned_docs/version-v2.18.x/user-guide/sdks-using.md
  versioned_docs/version-v2.18.x/user-guide/troubleshooting-zowe-server-install-wizard.md
  versioned_docs/version-v2.18.x/user-guide/zos-components-installation-checklist.md
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_0_0.md
  versioned_sidebars/version-v2.18.x-sidebars.json
Labels: area: docs, release: V2, review: sme

#4451 Add REST timeout settings for Zowe Explorer
  docs/user-guide/ze-install-configuring-ze.md
Labels: area: zowe-explorer, release: V3, review: doc

#4437 Updated the v3_2_0.md file
  docs/whats-new/release-notes/v3_2_0.md
Labels: area: docs, area: misc, release: V3, review: sme, area: Zowe App Framework, priority-high

#4458 Updated v3_2_0.md file
  docs/whats-new/release-notes/v3_2_0.md
Labels: area: docs, area: misc, release: V3, review: doc, priority-high

#4462 Update apf-authorize-load-library.md
  docs/user-guide/apf-authorize-load-library.md
Labels: area: install and config, release: V3, review: doc

#4463 Small start update
  docs/user-guide/start-zowe-zos.md
Labels: area: install and config, release: V3, review: doc

#4452 updating Getting Started for Zowe V3
  docs/getting-started/cli-getting-started.md
  docs/user-guide/cli-extending.md
  docs/user-guide/cli-installplugins.md
  sidebars.js
Labels: area: cli, release: V3, review: sme

#4465 Update links in mvd-using.md
  docs/user-guide/mvd-using.md
Labels: area: webui, release: V3, review: doc

#4482 Add configmgr environment function documentation
  docs/user-guide/configmgr-using.md
Labels: area: install and config, release: V3, review: sme

#4438 Using 3270: missing keyboard shortcuts
  docs/user-guide/mvd-3270.md
Labels: area: webui, release: V3, review: doc

#4488 Add API ML release notes for 2.18.2
  docs/whats-new/release-notes/v2_18_2.md
Labels: area: apiml, release: V2, review: sme

#4489 Add information about certificate requirements to support JWT generation
  docs/user-guide/configure-certificates.md
  versioned_docs/_version-v2.13.x/user-guide/configure-certificates.md
  versioned_docs/_version-v2.14.x/user-guide/configure-certificates.md
  versioned_docs/version-v2.15.x/user-guide/configure-certificates.md
  versioned_docs/version-v2.16.x/user-guide/configure-certificates.md
  versioned_docs/version-v2.17.x/user-guide/configure-certificates.md
  versioned_docs/version-v2.18.x/user-guide/configure-certificates.md
  versioned_docs/version-v3.0.x/user-guide/configure-certificates.md
  versioned_docs/version-v3.1.x/user-guide/configure-certificates.md
Labels: area: apiml, release: V2, release: V3, review: doc, review: sme

#4499 Add API ML release notes for v2.18.2 to versioned doc v2.18.x
  versioned_docs/version-v2.18.x/whats-new/release-notes/v2_18_2.md
Labels: area: apiml, release: V2, review: doc
