Repository zowe/docs-site, pull requests merged in 2025-06, with the labels that each got.

#4277 6940_April_2_SafKeyringConfigSlashes
  docs/whats-new/zowe-v3-migration.md
  versioned_docs/version-v3.0.x/whats-new/release-notes/v2_18_0.md
Labels: area: docs, status: in-progress, area: apiml, area: misc, for-review, priority-medium, release: V2, review: doc, review: sme

#4384 Reformat configservice description into table
  docs/extend/extend-desktop/mvd-configdataservice.md
Labels: area: webui, release: V3, review: doc

#4311 (Zowe 3.3) Remove notes on parmlib member limitation
  docs/user-guide/configmgr-using.md
Labels: area: install and config, release: V3, review: doc

#4512 recreate upgrade from convenience to pswi or smpe
  docs/whats-new/upgrade-from-convenience-build-to-pswi-smpe.md
  sidebars.js
Labels: area: install and config, release: V3, review: sme

#4373 Update Aroosh-Lele-docs-site.txt
  dco_signoffs/Aroosh-Lele-docs-site.txt
Labels: area: docs, area: misc, for-review, priority-medium, release: V3, review: doc

#4492 Address reviewer issues 2
  docs/appendix/zowe-yaml-configuration.md
  docs/extend/extend-apiml/authentication-for-apiml-services.md
  docs/extend/extend-apiml/onboard-plain-java-enabler.md
  docs/extend/extend-apiml/onboard-spring-boot-enabler.md
  docs/getting-started/zowe-security-authentication.md
  docs/user-guide/authenticating-with-client-certificates.md
  docs/user-guide/systemrequirements-zos.md
  versioned_docs/version-v2.17.x/appendix/zowe-api-reference.md
  versioned_docs/version-v2.18.x/appendix/zowe-api-reference.md
  versioned_docs/version-v2.18.x/extend/extend-apiml/zowe-api-mediation-layer-security-overview.md
Labels: area: apiml, area: install and config, release: V2, release: V3, review: sme

#4541 `app-troubleshoot`: configuration in yaml
  docs/troubleshoot/app-framework/app-troubleshoot.md
Labels: release: V2, release: V3, review: doc, area: Zowe App Framework

#4543 Fix the ports in the client part of AT-TLS
  docs/user-guide/configuring-at-tls-for-zowe-server.md
Labels: area: apiml, release: V3, review: doc

#4556 Updated troubleshoot-apiml-error-codes.md
  docs/troubleshoot/troubleshoot-apiml-error-codes.md
Labels: area: docs, area: apiml, type: troubleshoot, priority-medium, release: V3, review: doc

#4563 Update install-zowe-pswi-acquire.md
  docs/user-guide/install-zowe-pswi-acquire.md
Labels: area: install and config, release: V3, review: doc

#4560 Remove data and index parameters for caching-service
  docs/extend/extend-apiml/api-mediation-infinispan.md
Labels: area: apiml, release: V3, review: sme
